.app-launcher{
    @include floating_widget;
    min-height: 530px;
    min-width: 520px;
    padding: 3em;

    .search{
        min-height: 1.4em;
        padding: 2em;
        border-radius: $radii;
        background-image: url($wallpaper);
        background-size: cover;
        background-position: right bottom;
        margin-bottom: 3em;
        .icon, .input{
            @include button;
            background-color: transparentize($bg_color, 0.1);
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
        }
        .icon{
            min-width: 2.4em;
            margin-right: $spacing
        }
        .input{
            padding: .6em .8em;
        }
    }

    .separator{
        min-height: 1px;
        background-color: transparentize($fg_color, 0.94);
        margin: .2em;
    }

    .app{
        @include button($flat: true, $focusable: true);
        .app-content{
            .name{ font-size: 1.1em }
            .description{ color: transparentize($fg_color, 0.3) }
            .appicon{
                background-size: cover;
                min-width: 2.4em;
                min-height: 2.4em;
                margin-right: 1em;
            }
            padding: .6em;
        }
    }

    .scroll{
        @include scrollbar;
    }
}
