.datemenu{
    @include floating_widget;

    .widget{
        @include widget;
        margin: $spacing;
        padding: 12px;
    }

    .clock *{
        margin-top: $spacing;
        text-shadow: $text_shadow;
        font-size: 7em;
    }

    .uptime{
        margin-bottom: $spacing*2;
        font-size: 1.1em;
        text-shadow: $text_shadow;
        color: transparentize($fg_color, 0.3)
    }
    
    .calendar-bin{
        padding: .6em 2em 0 2em;
        @include calendar;
    }

    .system{
        > * {
            @include widget;
            margin: $spacing;
            padding: 5px;
            min-width:  3.4em;
            min-height: 3.4em;
        }
        circular-progress{
            background-color: $bg_color;
            color: $accent;
            &.battery{
                &.low{ color: $red }
            }
            .icon{ font-size: 1.3em; }
        }
    }

    .media{
        @include media($style: 'widget')
    }

    .events{
        padding: 0;
        .box-title{
            padding: 12px;
            padding-bottom: 6px;
            border-bottom: $border_width solid transparentize($fg_color, 0.92);
        }
        .events-box{
            padding: 12px;
            .event{
                label{ font-size: 1.2em;}
                .date{
                    color: transparentize($fg_color, 0.5);
                    font-family: $mono_font;
                }
                .title{
                    button label{ color: transparent; }
                    &:hover button{
                        label{
                            @include button();
                            background-color: $bg_color;
                            color: transparentize($fg_color, 0.3);
                        }
                        &:hover label{ color: $fg_color }
                    } 
                }
                &.urgent{
                    .date{
                        color: transparentize(mix($fg_color, $red, 30%), 0.5);
                    }
                    .title{
                        color: mix($fg_color, $red, 30%);
                    }
                }
            }
        }
    }
    
    .weather{
        .info{
            label:first-child{ font-size: 1.2em; }
            label:last-child{ color: transparentize($fg_color, 0.3); }
        }
        .icon{
            font-size: 2.6em;
            
            &.clear.d{ color: transparentize($yellow, 0.6); }
            &.clear.n{ color: transparentize($blue, 0.6); }

            &.clouds.d{ color: transparentize($fg_color, 0.6); }
            &.clouds.n{ color: transparentize($blue, 0.6); }

            &.rain{ color: transparentize($blue, 0.6); }
            &.thunderstorm{ color: transparentize($yellow, 0.6); }
            &.snow{ color: transparentize($fg_color, 0.6); }
            &.mist{ color: transparentize($teal, 0.6); }
        }
    }

    .wallpaper{
        min-height: 13em;
        background-image: url($assets+'wallpaper.png');
        background-size: cover;
    }
}
