.notification-center{
    min-width: 400px;
    @include floating_widget;
    .title{
        button{
            font-size: 1.0em;
            padding: .4em 1em;
            @include button;
        }
        label{ font-size: 1.4em } 
        margin-bottom: $spacing;
    }
    .notifications-list{
        @include scrollbar;
        .placeholder{
            .icon{ font-size: 8em; }
            label{ font-size: 2em; }
        }
        .notification{
            @include notification;
            .notification-content{
                @include widget;
                margin-bottom: $spacing;
                border-radius: $widget_radius*0.3;
            }
            &:first-child .notification-content{
                border-radius: $widget_radius $widget_radius $widget_radius*0.3 $widget_radius*0.3;
            }
            &:last-child .notification-content{
                border-radius: $widget_radius*0.3 $widget_radius*0.3 $widget_radius $widget_radius;
            }
            &:first-child:last-child .notification-content{
                border-radius: $widget_radius;
            }
        }
        margin-bottom: $spacing;
    }
    .controls{
        @include widget;
        padding: $popover_padding * 0.5;
        .sys-sliders{ @include sys-sliders; }
        .toggle {
            min-height: 3.4em;
            @include toggle_button($toggle_radius: $radii*1.4);
        }
    }
}
