.vpanel {
    min-width: 2.2em;
    font-weight: bold;
    color: $fg_color;
    background-color: $bg_color;
    margin: $wm_gaps;
    box-shadow: 0 0 8px rgba(0,0,0,0.8);
    border: $border_width solid $popover_border_color;
    border-radius: $panel_radius;
    
    .button-bin{
        margin: .4em;
    }

    .icon{ font-size: 1.3em;}
    .button{
        @include button($flat: true, $radii: $panel_button_radius);
        > * { padding: .4em }

        &.launcher{ color: $blue; }
        &.powermenu{ color: $red; }
        &.window{ @include button($flat: true, $interactive: false) }

        &.clock{
            label{ font-size: 1.4em;}
            .separator{
                border: 1px dotted $fg_color;
                font-size: 0;
                min-width: 18px;
            }
        }

        &.workspaces{
            @include button($flat: false, $radii: $panel_button_radius);
            .workspace-btn{
                margin: 2px;
                &.empty{ color: transparentize($fg_color, 0.34); }
                &.occupied{ color: transparentize($fg_color, 0.18); }
                &.active{ color: $fg_color; }
                &:hover{
                    &.empty{ color: transparentize($fg_color, 0.18); }
                    &.occupied{ color: $fg_color; }
                }
                &:active{ color: $accent; }
            }
        }

        &.system-indicators{
            .battery{
                .low{ color: $destructive; }
                .charging{ color: $succes; }
                .charged{ color: $succes; }
            }
            .notifications.active{
                color: $yellow;
            }
            .network{
                &.none, &.low{ color: $red; }
                &.medium{}
                &.high{ color: $blue; }
            }
        }

        &.media{
            .icon{
                &.spotify{ color: $green; }
                &.firefox{ color: $orange; }
                &.mpv{ color: $magenta; }
            }
        }
    }

    .sliders-bin{
        min-width: 220px;
        margin-right: 4px;
        .slider{ 
            @include slider($width: 1.2em, $slider: false);
            .icon{ 
                margin-left: 3px; 
                color: $accent_fg;
            }
        }
        .separator{
            min-width: 2px;
            min-height: 1em;
            margin: 0 4px;
            background-color: $fg_color;
        }
    }
}
