.vpanel {
    min-width: 2.2em;
    font-weight: bold;
    color: $fg_color;
    background-color: $bg_color;

    // &.floating {
        margin: $wm_gaps;
        border-radius: $panel_radius;
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
        border: $border_width solid $popover_border_color;
    // }

    .leftBar .button-bin {
        margin: .4em .4em 0 .4em;
    }
    .centerBar .button-bin {
        margin: .2em .4em;
    }
    .rightBar .button-bin {
        margin: 0 .4em .4em .4em;
    }

    .media{
        @include panel_media();
        .player{ min-height: 2.6em; }
    }

    .icon{ font-size: 1.3em;}
    .button{
        @include button($flat: true, $radii: $panel_button_radius);
        > * { padding: .4em }

        &.launcher{ color: $blue; }
        &.powermenu{ color: $red; }

        &.clock{
            @include button($flat: false, $interactive: true);
            label{ font-size: 1.4em;}
            .separator{
                min-height: 0.2em;
                padding: 0 .3em;
                .dot{
                    min-height: .15em;
                    min-width: .15em;
                    border-radius: $radii;
                    background-color: $fg_color;
                }
            }
        }

        &.workspaces{
            @include workspaces;
        }

        &.system-indicators{
            @include system-indicators($orientation: 'v');
        }
    }

    > * > .separator{
        margin: .3em 0;
        padding: 0 .8em;
        .dot{
            min-height: .3em;
            min-width: .3em;
            border-radius: $radii;
            background-color: $fg_color;
        }
    }
}
