.vpanel {
    min-width: 2.2em;
    font-weight: bold;
    color: $fg_color;
    background-color: $bg_color;
    margin: $wm_gaps;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border: $border_width solid $popover_border_color;
    border-radius: $panel_radius;

    .leftBar .button-bin {
        margin: .4em .4em 0 .4em;
    }
    .centerBar .button-bin {
        margin: .2em .4em;
    }
    .rightBar .button-bin {
        margin: 0 .4em .4em .4em;
    }

    .media{
        @include panel_media();
        .player{ min-height: 2em; }
    }

    .icon{ font-size: 1.3em;}
    .button{
        @include button($flat: true, $radii: $panel_button_radius);
        > * { padding: .4em }

        &.launcher{ color: $blue; }
        &.powermenu{ color: $red; }
        &.window{ @include button($flat: true, $interactive: false) }

        &.clock{
            @include button($flat: false, $interactive: true);
            label{ font-size: 1.4em;}
            .separator{
                border: 1px dotted $fg_color;
                font-size: 0;
                min-width: 18px;
            }
        }

        &.workspaces{
            @include workspaces;
        }

        &.system-indicators{
            @include system-indicators($orientation: 'v');
        }
    }
}
