@mixin widget{
    border-radius: $radii;
    color: $fg_color;
    background-color: $widget_bg;
    border: $border;
}

@mixin button_focus() {
    box-shadow: inset 0 0 0 $border_width $accent;
    background-color: $hover;
    color: $hover_fg;
}

@mixin button_hover() {
    box-shadow: inset 0 0 0 $border_width $border_color;
    background-color: $hover;
    color: $hover_fg;
}

@mixin button_active() {
    box-shadow: inset 0 0 0 $border_width $border_color;
    background-image: $active_gradient;
    background-color: $accent;
    color: $accent_fg;
}

@mixin button_disabled() {
    box-shadow: none;
    background-color: transparent;
    color: transparentize($fg_color, 0.7);
}

@mixin button($flat: false, $reactive: true, $radii: $radii, $focusable: true){
    transition: $transition;
    border-radius: $radii;
    color: $fg_color;

    @if $flat{
        background-color: transparent;
        background-image: none;
        box-shadow: none;
        border-color: transparent;
    } @else{
        background-color: $widget_bg;
        box-shadow: inset 0 0 0 $border_width $border_color;
    }

    @if $reactive{
        @if $focusable {
            &:focus{
                @include button_focus;
            }
        }

        &:hover{
            @include button_hover;
        }

        &:active, &.on, &.active, &:checked{
            @include button_active;

            &:hover {
                background-color: transparentize($accent, .24);
            }
        }
    }

    &:disabled {
        @include button_disabled;
    }
}

@mixin accs_button($flat: false, $reactive: true){
    @include button($flat: true, $reactive: false, $focusable: false);
    color: $fg_color;

    > * {
        border-radius: $radii;
        transition: $transition;

        @if $flat{
            background-color: transparent;
            box-shadow: none;
        } @else{
            background-color: $widget_bg;
            box-shadow: inset 0 0 0 $border_width $border_color;
        }
    }


    @if $reactive{
        &:focus > * {
            @include button_focus;
        }

        &:hover > * {
            @include button_hover;
        }

        &:active, &.active {
            > * {
                @include button_active;
            }

            &:hover > * {
                background-color: transparentize($accent, .24);
            }
        }
    }
}

@mixin floating_widget($shadow_width: $wm_gaps/2, $padding: $popover_padding){
    box-shadow: 0 0 $shadow_width 0 $shadow;
    border: $border_width solid $popover_border_color;
    border-radius: $popover_radius;
    margin: $wm_gaps;
    background-color: $bg_color;
    color: $fg_color;
    padding: $padding;
}

@mixin slider($width: .7em, $slider_width: .5em, $gradient: $active_gradient, $slider: true, $focusable: true, $radii: $radii){
    trough{
        transition: $transition;
        border-radius: $radii;
        border: $border;
        background-color: $widget_bg;
        min-height: $width;
        min-width:  $width;

        highlight, progress{
            border-radius: max($radii - $border_width, 0);
            background-image: $gradient;
            min-height: $width;
            min-width:  $width;
        }
    }

    slider {
        background-color: transparent;
        border: $border_width solid transparent;
        transition: $transition;
        border-radius: $radii;
        min-height: $width;
        min-width:  $width;
        margin: -$slider_width;
    }

    &:hover {
        trough {
            background-color: $hover;
        }

        slider {
            @if $slider{
                background-color: $fg_color;
                border-color: $border-color;
            }
        }
    }

    &:disabled {
        highlight, progress{
            background-color: transparentize($fg_color, 0.4);
            background-image: none;
        }

        slider {
            @if $slider {
                background-color: transparentize($fg_color, 0.5);
            }
        }
    }

    @if $focusable {
        trough:focus{
            background-color: $hover;
            box-shadow: inset 0 0 0 $border_width $accent;

            slider {
                @if $slider {
                    background-color: $fg_color;
                    box-shadow: inset 0 0 0 $border_width $accent;
                }
            }
        }

    }
}

@mixin shader($radius: $radii, $width: 3em){
    border-radius: max($radius - $border_width, 0);

    label {
        color: $shader_fg;
        text-shadow: $text_shadow;
    }

    @if $theme == 'dark' {
        box-shadow: inset 0 0 $width $width/3 transparentize($bg_color, 0.3);
    }

    @if $theme == 'light' {
        background-color: transparentize($bg_color, 0.7);
    }
}

@mixin tooltip{
    background-color: transparent;
    border: none;

    > * > *{
        background-color: $bg_color;
        border-radius: $radii;
        border: $border_width solid $popover_border_color;
        color: $fg_color;
        padding: 8px;
        margin: 4px;
        box-shadow: 0 0 3px 0 $shadow;
    }
}

@mixin scrollbar{
    scrollbar.vertical{
        slider{
            background: $widget_bg;
            border-radius: $radii;
            min-width: .6em;
            min-height: 2em;
            transition: $transition;

            &:hover {
                background-color: $fg_color;
            }
        }
    }

    overshoot{
        border-radius: $radii;

        &.top{
            background: linear-gradient(transparentize($bg_color, 0.6), transparent);
        }

        &.bottom{
            background: linear-gradient(transparent,transparentize($bg_color, 0.6));
        }
    }
}

@mixin switch{
    @include button;
    outline-offset: -4px;

    slider {
        background-color: $fg_color;
        border-radius: $radii;
        min-width: 24px;
        min-height: 24px;
    }

    image { color: transparent; }
}
