$theme: 'dark';

// charm
$red: #e67090;
$green: #43c383;
$yellow: #d8e77b;
$blue: #51a4e7;
$magenta: #9077e7;
$teal: #51e6e6;
$orange: #E79E64;

$bg_color: #171717;
$fg_color: #eee;
$hover_fg: #f1f1f1;

@import './main';
