$theme: 'light';

// gnome
$red: #f66151;
$green: #57e389;
$yellow: #f6d32d;
$blue: #62a0ea;
$magenta: #c061cb;
$teal: #5bc8aF;
$orange: #ffa348;

$bg_color: #fff;
$fg_color: #171717;
$hover_fg: #131313;

@import './main';
