$variant: 'dark';

$red: #f66151;
$green: #57e389;
$blue: #62a0ea;
$yellow: #f6d32d;
$magenta: #c061cb;
$teal: #5bc8aF;
$orange: #ffa348;

$selected_bg_color: $blue;
$selected_fg_color: #111;

$bg_color: if($variant =='light', #eee, #242424);
$fg_color: if($variant =='light', #111, #eee);
$widget_bg: transparentize($fg_color, 0.95);
$hover_bg: transparentize($fg_color, 0.92);
$hover_fg: if($variant =='light', #000, #fff);

$base_color: darken($bg_color, 3%);


$border_width: 1px;
$selected_border_width: 1px;
$popover_border_color: transparentize($fg_color, 0.99);
$border_color: transparentize($fg_color, 0.98);
$border: inset 0 0 0 $border_width $border_color;

$shadow_color: if($variant =='light', rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
$text_shadow: 2px 2px 2px $shadow_color;
$popover_shadow: 2px 2px 8px 0 $shadow_color;
$tile_shadow: 0 0 4px 0 $shadow_color;

$base_border_radius: 9px;
$modal_radius: $base_border_radius*2;
$button_radius: $base_border_radius*1.5;

$base_spacing: 8px;

//dynamic panel
$floating_panel_fg_color: #eee;
$floating_panel_hover_fg_color: #fff;
