$theme: 'dark';

$red: #f66151;
$green: #57e389;
$blue: #62a0ea;
$yellow: #f6d32d;
$magenta: #c061cb;
$teal: #5bc8aF;
$orange: #ffa348;

$bg_color: #181818;
$fg_color: #eee;
$hover_fg: #eee;
$accent_fg: #181818;