$panel_button_padding: 3px;

@mixin panel_button(){
  -natural-hpadding: 12px;
  -minimum-hpadding: 6px;
  background-color: transparent;
  border: $panel_button_padding solid transparent;
  box-shadow: inset 0 0 0 $border_width transparent;
  border-radius: $base_border_radius + min($panel_button_padding, $base_border_radius);
  color: $fg_color;
  &:hover { @include button(hover) }
  &:active, &:overview, &:focus, &:checked { @include button(active) }
}

@mixin panel($transparent: false){
  @if $transparent {
    background-color: transparent;
    box-shadow: none;
    border: none;
    text-shadow: $text_shadow;
    StIcon{ icon-shadow: $text_shadow }
  }
  @else{
    background-color: $base_color;
    color: $fg_color;
  }

  .panel-button{
    @include panel_button();
    &.clock-display{
      background-color: transparent !important;
      box-shadow: none !important;
      border-color: transparent !important;
      .clock { @include panel_button() }
      &:hover .clock{ @include button(hover) }
      &:active, &:overview, &:focus, &:checked{
        .clock { @include button(active) }
      }
    }

    &.screen-recording-indicator {
      background-color: transparentize($red, .2);
      &:hover{ background-color: transparentize($red, .26) }
      &:active{ background-color: transparentize($red, .32) }
    }
    
    &.screen-sharing-indicator {
      background-color: transparentize($orange, .2);
      &:hover{ background-color: transparentize($orange, .26) }
      &:active{ background-color: transparentize($orange, .32) }
    }
  }
}

#panel {
  @include panel($transparent: false);
  box-shadow: $popover_shadow;

  @if $gdm_panel_transparent {
    &.login-screen{ @include panel($transparent: true); }
  } @else {
    &.login-screen{
      box-shadow: $popover_shadow;
      @include panel($transparent: false);
    }
  }

  &.dynamic{ //ovarlapping
    @include panel($transparent: false);
    box-shadow: none;
    &:floating{ //non-overlapping
      @include panel($transparent: true);
      .panel-button, .clock-display-box{
        StLabel, StIcon { color: $floating_panel_fg_color !important; }
        &:hover StLabel,
        &:hover StIcon{ color: $floating_panel_hover_fg_color !important; }
        &:active, &:overview, &:focus, &:checked{
          StLabel, StIcon{ color: $selected_fg_color !important; }
        }
      }
    }
  }

  &.floating{ //overlapping
    padding: 8px;
    box-shadow: none;
    .panel-button{
      margin-top: 8px;
      margin-bottom: 8px;
    }
    #panelLeft{ margin-left: 8px; }
    #panelRight{ margin-right: 8px; }
    &:floating{ //non-overlapping
      @include panel($transparent: false);
      border-radius: $base_border_radius + min($panel_button_padding, $base_border_radius);
      box-shadow: $popover_shadow;
      border: 8px solid transparent;
      padding: 0;
    }
  }

  &.unlock-screen,
  &:overview{
    @include panel($transparent: true);
    .panel-button, .clock-display-box{
      StLabel, StIcon { color: $fg_color; }
      &:hover StLabel, 
      &:hover StIcon { color: $hover_fg; }
      &:active, &:overview, &:focus, &:checked{
        StLabel, StIcon{ color: $selected_fg_color; }
      }
    }
  }
}