/* SMOOTH43 */

/* colors */
/* accent_bg: #3584e4 */
/* hover_bg: #4f5761 */
/* accent_fg: #ffffff */
/* slider_red: #bb6271 */

.workspace-background{
  border: 1px solid rgba(255, 255, 255, 0.06);
}

#panelLeft{ padding-left: 4px; }
#panelRight{ padding-right: 4px; }
#panel{
  background-color: #0f0f0f;
  height: 38px;
}
.workspace-animation{ background-color: #0f0f0f; }
.panel-button,
.clock,
.clock-display StIcon{
  border-radius: 14px;
  border: 3px solid transparent;
  background-color: #212121;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
}
.clock-display StIcon{
  padding: 8px;
  margin: 0;
}
.panel-button:hover,
.panel-button:hover .clock{
  background-color: #2b2b2b;
}
.panel-button:active,
.panel-button:overview, /* activites */
.panel-button:active .clock{
  background-color: #3584e4;
  color: #ffffff;
}
/* clock fix */
.clock-display{
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}
.clock{
  margin: 0 !important;
}

/* POPOVERS */
.popup-menu-content{
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.06);
}
.popup-menu-item{
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
}
.popup-menu-item:active{
  background-color: #3584e4;
  color: #ffffff;
}
.popup-sub-menu{
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
}
.popup-sub-menu .popup-menu-item{
  box-shadow: none;
}

/* calendar */
#calendarArea{ padding: 0; }
.datemenu-calendar-column{ margin: 0px; }
.pager-button:hover,
.pager-button:focus{
  background-color: #595959;
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
}
/* calendar-days */
.calendar-day-base{ border-radius: 10px; }
.calendar-day-base:hover,
.calendar-day-base:focus,
.calendar-day-base:active:hover,
.calendar-day-base:selected:hover{
  background-color: #595959;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
}
.calendar-day-base:active,
.calendar-day-base:selected{
  box-shadow: inset 0 0 0 2px #3584e4;
  background-color: #4f5761;
}
.calendar-today,
.calendar-today:selected{
  box-shadow: inset 0 0 0 2px #3584e4;
  background-color: #3584e4;
}
.calendar-day-with-events{ font-weight: 800; }
/* events */
.calendar{
  border-radius: 11px;
  background-color: #3f3f3f;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06) !important;
}
.events-button,
.world-clocks-button,
.weather-button{
  border-radius: 11px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
}
.events-button:active,
.world-clock-button:active,
.weather-button:active{
  background-color: #3584e4;
  color: #ffffff;
}

/* message-list */
.message-list{
  border: none;
  padding: 5px 0 0 5px;
}
.message{
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
}
.message-close-button{
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
}
.message-close-button:active{
  background-color: #3584e4;
  color: #ffffff;
}

.message-media-control:hover{
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
}
.message-media-control:active{
  background-color: #3584e4;
  color: #ffffff;
}

.toggle-switch{
  background-image: url("./toggle10-on.svg");
  background-color: transparent;
  border-radius: 10px;
}
.toggle-switch:checked{
  background-image: url("./toggle10-off.svg");
  background-color: #3584e4;
}
.dnd-button:hover{
  background-color: #595959 !important;
  border: 1px solid transparent !important;
}
.dnd-button{
  width: 48px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.04);
  background-color: #474747;
  /* box-shadow: 0 2px 5px -4px black !important; */
  box-shadow: none !important;
}

.button{
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06); 
}
.button:insensitive{
  box-shadow: none;
}
.button:active{
  background-color: #3584e4;
  color: #ffffff;
}
.message-list .button{ border-radius: 10px; }

/* quick-settings */
.icon-button{
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
  border-radius: 16px;
}
.quick-settings{
  padding: 20px;
  border-radius: 24px;
}
.quick-toggle{
  border-radius: 12px;
}
.quick-toggle-arrow {
  border-radius: 0 12px 12px 0;
}
.quick-slider{
  background-color: #3d3d3d;
  border-radius: 12px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
}
.quick-slider .icon-button{ box-shadow: none; }
.quick-toggle-menu{
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
}


/* NOTIFICATIONS */
.notification-banner{
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
}
.notification-button{
  border-radius: 10px !important;
  margin: 6px !important;
  border: 1px solid rgba(255,255,255,0.04);
}
.notification-button:active{
  background-color: #3584e4;
  color: #ffffff;
}

.slider,
.level {
  height: 16px;
  -barlevel-height: 16px;
  -barlevel-active-background-color: #3584e4;
  -barlevel-overdrive-color: #bb6271;
  -barlevel-overdrive-separator-width: 2px;
  -slider-handle-radius: 7px;
}

/* overview-ws-thumbnail */
.workspace-thumbnail{
  border: none;
  border-radius: 9px;
  border: 1px solid rgba(255,255,255,0.04);
  background-image: url('/home/demeter/.config/background');
  background-size: cover;
}
.workspace-thumbnail-indicator {
  border-color: #3584e4;
  border-width: 3px;
  border-radius: 12px;
}

/* APP-GRID */
.app-well-app:hover .overview-icon,
.app-well-app:focus .overview-icon,
.app-well-app:selected .overview-icon,
.app-well-app.app-folder .overview-icon{
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
}
.app-well-app.app-folder:active .overview-icon,
.app-well-app:active .overview-icon{
  background-color: #3584e4;
  color: #ffffff;
}

/* DASH */
#dash .dash-background{
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
}
.dash-label {
  background-color: #303030;
  border-radius: 11px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
}
.app-well-app-running-dot{
  width: 10px;
  height: 5px;
  border-radius: 4px;
}
.show-apps:hover .overview-icon,
.show-apps:focus .overview-icon,
.show-apps:selected .overview-icon{
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
}
.show-apps:active .overview-icon,
.show-apps:checked .overview-icon,
#dash .app-well-app:active .overview-icon{
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
  background-color: #3584e4;
  color: #ffffff;
}

/* folder */
.app-folder-dialog{
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
}
.edit-folder-button{
  border-radius: 12px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
}
.edit-folder-button:active{
  background-color: #3584e4;
  color: #ffffff;
}

/* SEARCH */
StEntry{
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.06);
}
StEntry:hover, StEntry:focus, StEntry:active{
  border: 1px solid #3584e4;
  box-shadow: inset 0 0 0 1px #3584e4;
}

.search-section-content{
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
  border-radius: 17px;
}

.list-search-result:focus, .search-provider-icon:focus,
.list-search-result:hover, .search-provider-icon:hover,
.list-search-result:selected, .search-provider-icon:selected{
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
}
.list-search-result:active, .search-provider-icon:active{
  background-color: #3584e4;
  color: #ffffff;
}

/* OSD */
.modal-dialog{
  border-radius: 16px;
  background-color: #272727;
}
/* .switcher-list, */
/* .resize-popup, */
.workspace-switcher,
.osd-window{
  border-radius: 22px;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.1);
}
.ws-switcher-indicator{
  height: 10px;
  width: 10px;
}
.switcher-list .item-box:hover,
.switcher-list .item-box:focus,
.switcher-list .item-box:selected{
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
}
.modal-dialog-linked-button {
  padding: 10px 0 !important;
  margin: 12px !important;
  border-radius: 10px !important;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
}
.modal-dialog-linked-button:focus{
  box-shadow: inset 0 0 0 2px #3584e4;
  background-color: #4f5761;
}
.modal-dialog-linked-button:active{
  background-color: #3584e4;
  color: #ffffff;
}
.nm-dialog-scroll-view{
  border: 1px solid rgba(255,255,255,0.06);
}
.nm-dialog-item:selected{
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
}
