@import "./scss/colors.scss";
@import "./scss/variables.scss";
@import "./scss/common.scss";

@import "./scss/widgets/sys_sliders.scss";
@import "./scss/widgets/notification.scss";
@import "./scss/widgets/toggle_button.scss";
@import "./scss/widgets/media.scss";
@import "./scss/widgets/calendar.scss";
@import "./scss/widgets/bar_widget.scss";
@import "./scss/widgets/user.scss";
@import "./scss/widgets/events.scss";
@import "./scss/widgets/weather.scss";

@import "./scss/windows/hbar.scss";
@import "./scss/windows/vbar.scss";
@import "./scss/windows/datemenu.scss";
@import "./scss/windows/quicksettings.scss";
@import "./scss/windows/powermenu.scss";
@import "./scss/windows/desktop.scss";
@import "./scss/windows/osd.scss";
@import "./scss/windows/dock.scss";
@import "./scss/windows/notifications.scss";
@import "./scss/windows/noti_center.scss";
@import "./scss/windows/media.scss";
@import "./scss/windows/app_laucher.scss";
tooltip{ @include tooltip }
