* {
  all: unset;
  font-size: 14px;
  font-family: 'Ubuntu Nerd Font';
  transition: 200ms; }

.hpanel {
  min-height: 2.2em;
  border-radius: 0px;
  font-weight: bold;
  font-size: 1.1em;
  color: #eee;
  background-color: #181818;
  border-bottom: 1px solid rgba(255, 255, 255, 0.02);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }
  .hpanel .button-bin {
    margin: 3px 2px; }
    .hpanel .button-bin.launcher {
      margin-left: 4px; }
    .hpanel .button-bin.powermenu {
      margin-right: 4px; }
  .hpanel .button {
    border-radius: 0px;
    color: #eee;
    background-color: transparent;
    background-image: none;
    box-shadow: none; }
    .hpanel .button .icon {
      font-size: 1.2em; }
    .hpanel .button:focus {
      box-shadow: inset 0 0 0 1px #62a0ea;
      background-color: rgba(238, 238, 238, 0.16);
      color: #eee; }
    .hpanel .button:hover {
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
      background-color: rgba(238, 238, 238, 0.16);
      color: #eee; }
    .hpanel .button:active {
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
      background-color: #62a0ea;
      color: #181818; }
    .hpanel .button > * {
      padding: 0 .7em; }
    .hpanel .button.launcher {
      color: #62a0ea; }
    .hpanel .button.powermenu {
      color: #f66151; }
    .hpanel .button.window {
      border-radius: 0px;
      color: #eee;
      background-color: transparent;
      background-image: none;
      box-shadow: none; }
    .hpanel .button.workspaces {
      border-radius: 0px;
      color: #eee;
      background-color: rgba(238, 238, 238, 0.08);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002); }
      .hpanel .button.workspaces:focus {
        box-shadow: inset 0 0 0 1px #62a0ea;
        background-color: rgba(238, 238, 238, 0.16);
        color: #eee; }
      .hpanel .button.workspaces:hover {
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
        background-color: rgba(238, 238, 238, 0.16);
        color: #eee; }
      .hpanel .button.workspaces:active {
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
        background-color: #62a0ea;
        color: #181818; }
      .hpanel .button.workspaces .workspace-btn {
        margin: 2px; }
        .hpanel .button.workspaces .workspace-btn label {
          font-size: 1.2em; }
        .hpanel .button.workspaces .workspace-btn.empty {
          color: rgba(238, 238, 238, 0.66); }
        .hpanel .button.workspaces .workspace-btn.occupied {
          color: rgba(238, 238, 238, 0.82); }
        .hpanel .button.workspaces .workspace-btn.active {
          color: #eee; }
        .hpanel .button.workspaces .workspace-btn:hover.empty {
          color: rgba(238, 238, 238, 0.82); }
        .hpanel .button.workspaces .workspace-btn:hover.occupied {
          color: #eee; }
        .hpanel .button.workspaces .workspace-btn:active {
          color: #62a0ea; }
    .hpanel .button.system-indicators {
      border-radius: 0px;
      color: #eee;
      background-color: rgba(238, 238, 238, 0.08);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002); }
      .hpanel .button.system-indicators:focus {
        box-shadow: inset 0 0 0 1px #62a0ea;
        background-color: rgba(238, 238, 238, 0.16);
        color: #eee; }
      .hpanel .button.system-indicators:hover {
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
        background-color: rgba(238, 238, 238, 0.16);
        color: #eee; }
      .hpanel .button.system-indicators:active {
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
        background-color: #62a0ea;
        color: #181818; }
      .hpanel .button.system-indicators .reveal {
        padding-top: .6em; }
      .hpanel .button.system-indicators .slider trough {
        border-radius: 0px;
        border: 1px solid rgba(255, 255, 255, 0.002);
        background-color: rgba(238, 238, 238, 0.08);
        min-height: 1em;
        min-width: 1em; }
        .hpanel .button.system-indicators .slider trough highlight, .hpanel .button.system-indicators .slider trough progress {
          border-radius: 0px;
          background-color: #62a0ea;
          min-height: 1em;
          min-width: 1em; }
      .hpanel .button.system-indicators .slider:hover trough {
        background-color: rgba(238, 238, 238, 0.16); }
      .hpanel .button.system-indicators .slider > * {
        min-height: 80px; }
      .hpanel .button.system-indicators .icon {
        margin: .1em 0; }
        .hpanel .button.system-indicators .icon.battery.low {
          color: #f66151; }
        .hpanel .button.system-indicators .icon.battery.charging {
          color: #57e389; }
        .hpanel .button.system-indicators .icon.battery.charged {
          color: #57e389; }
        .hpanel .button.system-indicators .icon.notifications.active {
          color: #f6d32d; }
        .hpanel .button.system-indicators .icon.network.none, .hpanel .button.system-indicators .icon.network.low {
          color: #f66151; }
        .hpanel .button.system-indicators .icon.network.high {
          color: #62a0ea; }
    .hpanel .button.media .icon {
      margin-right: .2em; }
      .hpanel .button.media .icon.spotify {
        color: #57e389; }
      .hpanel .button.media .icon.firefox {
        color: #ffa348; }
      .hpanel .button.media .icon.mpv {
        color: #c061cb; }

.vpanel {
  min-width: 2.2em;
  font-weight: bold;
  color: #eee;
  background-color: #181818;
  margin: 0px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.02);
  border-radius: 0px; }
  .vpanel .leftBar .button-bin {
    margin: .4em .4em 0 .4em; }
  .vpanel .centerBar .button-bin {
    margin: .2em .4em; }
  .vpanel .rightBar .button-bin {
    margin: 0 .4em .4em .4em; }
  .vpanel .media .player {
    border-radius: 0px;
    color: #eee;
    background-color: transparent;
    background-image: none;
    box-shadow: none; }
    .vpanel .media .player:focus {
      box-shadow: inset 0 0 0 1px #62a0ea;
      background-color: rgba(238, 238, 238, 0.16);
      color: #eee; }
    .vpanel .media .player:hover {
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
      background-color: rgba(238, 238, 238, 0.16);
      color: #eee; }
    .vpanel .media .player:active {
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
      background-color: #62a0ea;
      color: #181818; }
  .vpanel .media button.prev, .vpanel .media button.next, .vpanel .media button.play-pause {
    color: rgba(238, 238, 238, 0.6); }
    .vpanel .media button.prev:hover, .vpanel .media button.next:hover, .vpanel .media button.play-pause:hover {
      color: rgba(238, 238, 238, 0.8); }
    .vpanel .media button.prev:active, .vpanel .media button.next:active, .vpanel .media button.play-pause:active {
      color: #eee; }
  .vpanel .media button.play-pause.Playing {
    color: #62a0ea; }
  .vpanel .media button.play-pause.Paused {
    color: #f6d32d; }
  .vpanel .media .icon.spotify {
    color: #57e389; }
  .vpanel .media .icon.firefox {
    color: #ffa348; }
  .vpanel .media .icon.mpv {
    color: #c061cb; }
  .vpanel .media .player {
    min-height: 2em; }
  .vpanel .icon {
    font-size: 1.3em; }
  .vpanel .button {
    border-radius: 0px;
    color: #eee;
    background-color: transparent;
    background-image: none;
    box-shadow: none; }
    .vpanel .button:focus {
      box-shadow: inset 0 0 0 1px #62a0ea;
      background-color: rgba(238, 238, 238, 0.16);
      color: #eee; }
    .vpanel .button:hover {
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
      background-color: rgba(238, 238, 238, 0.16);
      color: #eee; }
    .vpanel .button:active {
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
      background-color: #62a0ea;
      color: #181818; }
    .vpanel .button > * {
      padding: .4em; }
    .vpanel .button.launcher {
      color: #62a0ea; }
    .vpanel .button.powermenu {
      color: #f66151; }
    .vpanel .button.window {
      border-radius: 0px;
      color: #eee;
      background-color: transparent;
      background-image: none;
      box-shadow: none; }
    .vpanel .button.clock {
      border-radius: 0px;
      color: #eee;
      background-color: rgba(238, 238, 238, 0.08);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002); }
      .vpanel .button.clock:focus {
        box-shadow: inset 0 0 0 1px #62a0ea;
        background-color: rgba(238, 238, 238, 0.16);
        color: #eee; }
      .vpanel .button.clock:hover {
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
        background-color: rgba(238, 238, 238, 0.16);
        color: #eee; }
      .vpanel .button.clock:active {
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
        background-color: #62a0ea;
        color: #181818; }
      .vpanel .button.clock label {
        font-size: 1.4em; }
      .vpanel .button.clock .separator {
        border: 1px dotted #eee;
        font-size: 0;
        min-width: 18px; }
    .vpanel .button.workspaces {
      border-radius: 0px;
      color: #eee;
      background-color: rgba(238, 238, 238, 0.08);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002); }
      .vpanel .button.workspaces:focus {
        box-shadow: inset 0 0 0 1px #62a0ea;
        background-color: rgba(238, 238, 238, 0.16);
        color: #eee; }
      .vpanel .button.workspaces:hover {
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
        background-color: rgba(238, 238, 238, 0.16);
        color: #eee; }
      .vpanel .button.workspaces:active {
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
        background-color: #62a0ea;
        color: #181818; }
      .vpanel .button.workspaces .workspace-btn.empty {
        color: rgba(238, 238, 238, 0.66); }
      .vpanel .button.workspaces .workspace-btn.occupied {
        color: rgba(238, 238, 238, 0.82); }
      .vpanel .button.workspaces .workspace-btn.active {
        color: #eee; }
      .vpanel .button.workspaces .workspace-btn:hover.empty {
        color: rgba(238, 238, 238, 0.82); }
      .vpanel .button.workspaces .workspace-btn:hover.occupied {
        color: #eee; }
      .vpanel .button.workspaces .workspace-btn:active {
        color: #62a0ea; }
    .vpanel .button.system-indicators {
      border-radius: 0px;
      color: #eee;
      background-color: rgba(238, 238, 238, 0.08);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002); }
      .vpanel .button.system-indicators:focus {
        box-shadow: inset 0 0 0 1px #62a0ea;
        background-color: rgba(238, 238, 238, 0.16);
        color: #eee; }
      .vpanel .button.system-indicators:hover {
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
        background-color: rgba(238, 238, 238, 0.16);
        color: #eee; }
      .vpanel .button.system-indicators:active {
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
        background-color: #62a0ea;
        color: #181818; }
      .vpanel .button.system-indicators .reveal {
        padding-top: .6em; }
      .vpanel .button.system-indicators .slider trough {
        border-radius: 0px;
        border: 1px solid rgba(255, 255, 255, 0.002);
        background-color: rgba(238, 238, 238, 0.08);
        min-height: 1em;
        min-width: 1em; }
        .vpanel .button.system-indicators .slider trough highlight, .vpanel .button.system-indicators .slider trough progress {
          border-radius: 0px;
          background-color: #62a0ea;
          min-height: 1em;
          min-width: 1em; }
      .vpanel .button.system-indicators .slider:hover trough {
        background-color: rgba(238, 238, 238, 0.16); }
      .vpanel .button.system-indicators .slider > * {
        min-height: 80px; }
      .vpanel .button.system-indicators .icon {
        margin: .1em 0; }
        .vpanel .button.system-indicators .icon.battery.low {
          color: #f66151; }
        .vpanel .button.system-indicators .icon.battery.charging {
          color: #57e389; }
        .vpanel .button.system-indicators .icon.battery.charged {
          color: #57e389; }
        .vpanel .button.system-indicators .icon.notifications.active {
          color: #f6d32d; }
        .vpanel .button.system-indicators .icon.network.none, .vpanel .button.system-indicators .icon.network.low {
          color: #f66151; }
        .vpanel .button.system-indicators .icon.network.high {
          color: #62a0ea; }

.datemenu {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6), inset 0 0 0 1px rgba(255, 255, 255, 0.02);
  border-radius: 0px;
  margin: 0px;
  background-color: #181818;
  color: #eee;
  padding: 14px; }
  .datemenu .widget {
    border-radius: 0px;
    color: #eee;
    background-color: rgba(238, 238, 238, 0.06);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
    margin: 8px;
    padding: 12px; }
  .datemenu .clock * {
    margin-top: 8px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 7em; }
  .datemenu .uptime {
    margin-bottom: 16px;
    font-size: 1.1em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: rgba(238, 238, 238, 0.7); }
  .datemenu .calendar-bin {
    padding: .6em 2em 0 2em; }
    .datemenu .calendar-bin calendar {
      font-size: 1.2em;
      padding: .2em; }
      .datemenu .calendar-bin calendar.button {
        border-radius: 0px;
        color: #eee;
        background-color: transparent;
        background-image: none;
        box-shadow: none;
        margin: 1em; }
        .datemenu .calendar-bin calendar.button:focus {
          box-shadow: inset 0 0 0 1px #62a0ea;
          background-color: rgba(238, 238, 238, 0.16);
          color: #eee; }
        .datemenu .calendar-bin calendar.button:hover {
          box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
          background-color: rgba(238, 238, 238, 0.16);
          color: #eee; }
        .datemenu .calendar-bin calendar.button:active {
          box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
          background-color: #62a0ea;
          color: #181818; }
      .datemenu .calendar-bin calendar:selected {
        box-shadow: inset 0 -8px 0 0 rgba(98, 160, 234, 0.5), inset 0 0 0 1px #62a0ea;
        border-radius: 0px; }
      .datemenu .calendar-bin calendar.header {
        background-color: transparent;
        border: none;
        color: rgba(238, 238, 238, 0.5); }
      .datemenu .calendar-bin calendar.highlight {
        background-color: transparent;
        color: rgba(98, 160, 234, 0.5); }
      .datemenu .calendar-bin calendar:indeterminate {
        color: rgba(238, 238, 238, 0.1); }
  .datemenu .events {
    padding: 0; }
    .datemenu .events .box-title {
      padding: 12px;
      padding-bottom: 6px;
      border-bottom: 1px solid rgba(238, 238, 238, 0.08); }
    .datemenu .events .events-box {
      padding: 12px; }
      .datemenu .events .events-box .event label {
        font-size: 1.2em; }
      .datemenu .events .events-box .event .date {
        color: rgba(238, 238, 238, 0.5);
        font-family: "mononoki NF"; }
      .datemenu .events .events-box .event .title button label {
        color: transparent; }
      .datemenu .events .events-box .event .title:hover button label {
        border-radius: 0px;
        color: #eee;
        background-color: rgba(238, 238, 238, 0.08);
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
        background-color: #181818;
        color: rgba(238, 238, 238, 0.7); }
        .datemenu .events .events-box .event .title:hover button label:focus {
          box-shadow: inset 0 0 0 1px #62a0ea;
          background-color: rgba(238, 238, 238, 0.16);
          color: #eee; }
        .datemenu .events .events-box .event .title:hover button label:hover {
          box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
          background-color: rgba(238, 238, 238, 0.16);
          color: #eee; }
        .datemenu .events .events-box .event .title:hover button label:active {
          box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
          background-color: #62a0ea;
          color: #181818; }
      .datemenu .events .events-box .event .title:hover button:hover label {
        color: #eee; }
      .datemenu .events .events-box .event.urgent .date {
        color: rgba(244, 139, 128, 0.5); }
      .datemenu .events .events-box .event.urgent .title {
        color: #f48b80; }
  .datemenu .weather .info label:first-child {
    font-size: 1.2em; }
  .datemenu .weather .info label:last-child {
    color: rgba(238, 238, 238, 0.7); }
  .datemenu .weather .icon {
    font-size: 2.6em; }
    .datemenu .weather .icon.clear.d {
      color: rgba(246, 211, 45, 0.4); }
    .datemenu .weather .icon.clear.n {
      color: rgba(98, 160, 234, 0.4); }
    .datemenu .weather .icon.clouds.d {
      color: rgba(238, 238, 238, 0.4); }
    .datemenu .weather .icon.clouds.n {
      color: rgba(98, 160, 234, 0.4); }
    .datemenu .weather .icon.rain {
      color: rgba(98, 160, 234, 0.4); }
    .datemenu .weather .icon.thunderstorm {
      color: rgba(246, 211, 45, 0.4); }
    .datemenu .weather .icon.snow {
      color: rgba(238, 238, 238, 0.4); }
    .datemenu .weather .icon.mist {
      color: rgba(91, 200, 175, 0.4); }
  .datemenu .wallpaper {
    min-height: 13em;
    background-image: url("/home/demeter/.config/eww/assets/wallpaper.png");
    background-size: cover; }

.quick-settings {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6), inset 0 0 0 1px rgba(255, 255, 255, 0.02);
  border-radius: 0px;
  margin: 0px;
  background-color: #181818;
  color: #eee;
  padding: 14px; }
  .quick-settings .widget {
    border-radius: 0px;
    color: #eee;
    background-color: rgba(238, 238, 238, 0.06);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
    margin: 8px;
    padding: 8px; }
  .quick-settings .sys-sliders .slider trough {
    border-radius: 0px;
    border: 1px solid rgba(255, 255, 255, 0.002);
    background-color: rgba(238, 238, 238, 0.08);
    min-height: 0.8em;
    min-width: 0.8em; }
    .quick-settings .sys-sliders .slider trough highlight, .quick-settings .sys-sliders .slider trough progress {
      border-radius: 0px;
      background-color: #62a0ea;
      min-height: 0.8em;
      min-width: 0.8em; }
  .quick-settings .sys-sliders .slider:hover trough {
    background-color: rgba(238, 238, 238, 0.16); }
  .quick-settings .sys-sliders .percent {
    margin: 8px;
    min-width: 2.6em; }
  .quick-settings .sys-sliders .icon {
    margin: 8px; }
    .quick-settings .sys-sliders .icon:first-child {
      font-size: 1.4em; }
  .quick-settings .sys-sliders button {
    border-radius: 0px;
    color: #eee;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    margin-right: 8px; }
    .quick-settings .sys-sliders button:focus {
      box-shadow: inset 0 0 0 1px #62a0ea;
      background-color: rgba(238, 238, 238, 0.16);
      color: #eee; }
    .quick-settings .sys-sliders button:hover {
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
      background-color: rgba(238, 238, 238, 0.16);
      color: #eee; }
    .quick-settings .sys-sliders button:active {
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
      background-color: #62a0ea;
      color: #181818; }
    .quick-settings .sys-sliders button .icon {
      margin: 0; }
  .quick-settings .sys-actions .user {
    padding: 0;
    min-height: 10em;
    min-width: 10em;
    background-image: url("/home/demeter/.config/eww/assets/avatar.jpg");
    background-size: cover; }
    .quick-settings .sys-actions .user .darkened {
      border-radius: 0px;
      box-shadow: inset 0 0 3em 1em rgba(24, 24, 24, 0.9);
      padding: .3em; }
      .quick-settings .sys-actions .user .darkened label {
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }
        .quick-settings .sys-actions .user .darkened label:first-child {
          color: rgba(238, 238, 238, 0.9);
          font-size: 1.3em; }
        .quick-settings .sys-actions .user .darkened label:last-child {
          color: rgba(238, 238, 238, 0.7);
          font-size: 1.1em; }
  .quick-settings .sys-actions .sysactions button {
    border-radius: 40%;
    color: #eee;
    background-color: rgba(238, 238, 238, 0.08);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
    margin: 8px;
    padding: .4em; }
    .quick-settings .sys-actions .sysactions button:focus {
      box-shadow: inset 0 0 0 1px #62a0ea;
      background-color: rgba(238, 238, 238, 0.16);
      color: #eee; }
    .quick-settings .sys-actions .sysactions button:hover {
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
      background-color: rgba(238, 238, 238, 0.16);
      color: #eee; }
    .quick-settings .sys-actions .sysactions button:active {
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
      background-color: #62a0ea;
      color: #181818; }
    .quick-settings .sys-actions .sysactions button label {
      font-size: 2.4em; }
    .quick-settings .sys-actions .sysactions button.power {
      color: #f66151; }
  .quick-settings .sys-actions .sysactions .uptime {
    font-size: 1.3em;
    color: rgba(238, 238, 238, 0.5); }
  .quick-settings .system > * > * {
    border-radius: 0px;
    color: #eee;
    background-color: rgba(238, 238, 238, 0.06);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
    margin: 8px;
    padding: 8px;
    min-width: 4.4em;
    min-height: 4.4em; }
  .quick-settings .system circular-progress {
    background-color: #181818;
    color: #62a0ea; }
    .quick-settings .system circular-progress.battery.low {
      color: #f66151; }
    .quick-settings .system circular-progress .icon {
      font-size: 1.8em; }
  .quick-settings .toggles .toggle {
    border-radius: 0px;
    color: #eee;
    background-color: rgba(238, 238, 238, 0.08);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
    margin: 8px; }
    .quick-settings .toggles .toggle:focus {
      box-shadow: inset 0 0 0 1px #62a0ea;
      background-color: rgba(238, 238, 238, 0.16);
      color: #eee; }
    .quick-settings .toggles .toggle:hover {
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
      background-color: rgba(238, 238, 238, 0.16);
      color: #eee; }
    .quick-settings .toggles .toggle:active {
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
      background-color: #62a0ea;
      color: #181818; }
    .quick-settings .toggles .toggle.small {
      border-radius: 0px;
      color: #eee;
      background-color: rgba(238, 238, 238, 0.08);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002); }
      .quick-settings .toggles .toggle.small:focus {
        box-shadow: inset 0 0 0 1px #62a0ea;
        background-color: rgba(238, 238, 238, 0.16);
        color: #eee; }
      .quick-settings .toggles .toggle.small:hover {
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
        background-color: rgba(238, 238, 238, 0.16);
        color: #eee; }
      .quick-settings .toggles .toggle.small:active {
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
        background-color: #62a0ea;
        color: #181818; }
    .quick-settings .toggles .toggle .separator {
      background-color: #eee;
      min-width: 2px;
      min-height: 1.4em; }
    .quick-settings .toggles .toggle .half {
      border-radius: 0px;
      color: #eee;
      background-color: transparent;
      background-image: none;
      box-shadow: none;
      min-height: 3.4em; }
      .quick-settings .toggles .toggle .half:focus {
        box-shadow: inset 0 0 0 1px #62a0ea;
        background-color: rgba(238, 238, 238, 0.16);
        color: #eee; }
      .quick-settings .toggles .toggle .half:hover {
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
        background-color: rgba(238, 238, 238, 0.16);
        color: #eee; }
      .quick-settings .toggles .toggle .half:active {
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
        background-color: #62a0ea;
        color: #181818; }
      .quick-settings .toggles .toggle .half:first-child {
        border-radius: 0px 0 0 0px; }
      .quick-settings .toggles .toggle .half:last-child {
        border-radius: 0 0px 0px 0; }
      .quick-settings .toggles .toggle .half:hover {
        background-color: rgba(238, 238, 238, 0.16); }
    .quick-settings .toggles .toggle.active {
      background-color: #62a0ea; }
      .quick-settings .toggles .toggle.active * {
        color: #181818; }
      .quick-settings .toggles .toggle.active .separator {
        background-color: #181818; }
      .quick-settings .toggles .toggle.active:hover * {
        color: #eee; }
    .quick-settings .toggles .toggle .icon {
      font-size: 2em; }
      .quick-settings .toggles .toggle .icon.arrow {
        font-size: 1.8em; }
  .quick-settings .media {
    border-radius: 0px;
    color: #eee;
    background-color: rgba(238, 238, 238, 0.06);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
    margin: 8px;
    min-height: 12em;
    padding: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }
    .quick-settings .media .cover {
      border-radius: 0px;
      color: #eee;
      background-color: rgba(238, 238, 238, 0.06);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
      background-size: cover;
      background-position: center; }
      .quick-settings .media .cover .darkened {
        border-radius: 0px;
        box-shadow: inset 0 0 3em 1em rgba(24, 24, 24, 0.9); }
      .quick-settings .media .cover .slider trough {
        border-radius: 0px;
        border: 1px solid rgba(255, 255, 255, 0.002);
        background-color: rgba(238, 238, 238, 0.08);
        min-height: 0.4em;
        min-width: 0.4em; }
        .quick-settings .media .cover .slider trough highlight, .quick-settings .media .cover .slider trough progress {
          border-radius: 0px;
          background-color: rgba(238, 238, 238, 0.7);
          min-height: 0.4em;
          min-width: 0.4em; }
      .quick-settings .media .cover .slider:hover trough {
        background-color: rgba(238, 238, 238, 0.16); }
      .quick-settings .media .cover .slider scale > contents trough {
        border-radius: 0;
        border: 0; }
        .quick-settings .media .cover .slider scale > contents trough highlight {
          border-radius: 0; }
      .quick-settings .media .cover .box {
        margin: 8px; }
      .quick-settings .media .cover .artist {
        font-size: 1.2em; }
      .quick-settings .media .cover .title, .quick-settings .media .cover .position {
        color: rgba(238, 238, 238, 0.8); }
      .quick-settings .media .cover .icon.player {
        font-size: 1.4em;
        margin-left: .6em; }
      .quick-settings .media .cover .controls {
        margin: 8px; }
        .quick-settings .media .cover .controls button {
          color: rgba(238, 238, 238, 0.7); }
          .quick-settings .media .cover .controls button label {
            font-size: 2em; }
          .quick-settings .media .cover .controls button.loop label, .quick-settings .media .cover .controls button.shuffle label {
            font-size: 1.2em; }
          .quick-settings .media .cover .controls button:hover {
            color: #eee; }
          .quick-settings .media .cover .controls button.active {
            color: #62a0ea; }
          .quick-settings .media .cover .controls button.inactive {
            color: rgba(238, 238, 238, 0.3);
            text-shadow: none; }
          .quick-settings .media .cover .controls button.loop.Playlist {
            color: rgba(98, 160, 234, 0.8); }
          .quick-settings .media .cover .controls button.loop.Track {
            color: #62a0ea; }
    .quick-settings .media .sidebar {
      margin: 16px; }
      .quick-settings .media .sidebar .slider trough {
        border-radius: 0px;
        border: 1px solid rgba(255, 255, 255, 0.002);
        background-color: rgba(238, 238, 238, 0.08);
        min-height: 0.6em;
        min-width: 0.6em; }
        .quick-settings .media .sidebar .slider trough highlight, .quick-settings .media .sidebar .slider trough progress {
          border-radius: 0px;
          background-color: #62a0ea;
          min-height: 0.6em;
          min-width: 0.6em; }
      .quick-settings .media .sidebar .slider:hover trough {
        background-color: rgba(238, 238, 238, 0.16); }
    .quick-settings .media.spotify .icon.player {
      color: #57e389; }
    .quick-settings .media.spotify .sidebar .slider trough {
      border-radius: 0px;
      border: 1px solid rgba(255, 255, 255, 0.002);
      background-color: rgba(238, 238, 238, 0.08);
      min-height: 0.6em;
      min-width: 0.6em; }
      .quick-settings .media.spotify .sidebar .slider trough highlight, .quick-settings .media.spotify .sidebar .slider trough progress {
        border-radius: 0px;
        background-color: #57e389;
        min-height: 0.6em;
        min-width: 0.6em; }
    .quick-settings .media.spotify .sidebar .slider:hover trough {
      background-color: rgba(238, 238, 238, 0.16); }
    .quick-settings .media.spotify .controls button.active {
      color: #57e389; }
    .quick-settings .media.spotify .controls button.loop.Playlist {
      color: rgba(87, 227, 137, 0.8); }
    .quick-settings .media.spotify .controls button.loop.Track {
      color: #57e389; }
    .quick-settings .media.firefox .icon.player {
      color: #ffa348; }
    .quick-settings .media.mpv .icon.player {
      color: #c061cb; }
    .quick-settings .media.mpv .sidebar .slider trough {
      border-radius: 0px;
      border: 1px solid rgba(255, 255, 255, 0.002);
      background-color: rgba(238, 238, 238, 0.08);
      min-height: 0.6em;
      min-width: 0.6em; }
      .quick-settings .media.mpv .sidebar .slider trough highlight, .quick-settings .media.mpv .sidebar .slider trough progress {
        border-radius: 0px;
        background-color: #c061cb;
        min-height: 0.6em;
        min-width: 0.6em; }
    .quick-settings .media.mpv .sidebar .slider:hover trough {
      background-color: rgba(238, 238, 238, 0.16); }
    .quick-settings .media.mpv .controls button.active {
      color: #c061cb; }
    .quick-settings .media.mpv .controls button.loop.Playlist {
      color: rgba(192, 97, 203, 0.8); }
    .quick-settings .media.mpv .controls button.loop.Track {
      color: #c061cb; }

.background.powermenu {
  background-color: rgba(0, 0, 0, 0.5); }
  .background.powermenu .content {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6), inset 0 0 0 1px rgba(255, 255, 255, 0.02);
    border-radius: 0px;
    margin: 0px;
    background-color: #181818;
    color: #eee;
    padding: 14px; }
    .background.powermenu .content .user {
      font-size: 1.2em;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }
      .background.powermenu .content .user .image {
        background-image: url("/home/demeter/.config/eww/assets/avatar.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        min-width: 120px;
        min-height: 120px;
        border-radius: 24px;
        margin-bottom: 12px; }
    .background.powermenu .content .clock {
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
      margin-bottom: 2.2em; }
      .background.powermenu .content .clock .hour * {
        font-size: 9em; }
      .background.powermenu .content .clock .date {
        font-size: 2em; }
    .background.powermenu .content .power-menu {
      border-radius: 0px;
      padding: 15px; }
    .background.powermenu .content .button-bin {
      margin: 15px;
      margin-bottom: 0; }
      .background.powermenu .content .button-bin .button {
        border-radius: 0px;
        color: #eee;
        background-color: rgba(238, 238, 238, 0.08);
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
        border-radius: 0px;
        font-size: 60px;
        min-width: 130px;
        min-height: 130px; }
        .background.powermenu .content .button-bin .button:focus {
          box-shadow: inset 0 0 0 1px #62a0ea;
          background-color: rgba(238, 238, 238, 0.16);
          color: #eee; }
        .background.powermenu .content .button-bin .button:hover {
          box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
          background-color: rgba(238, 238, 238, 0.16);
          color: #eee; }
        .background.powermenu .content .button-bin .button:active {
          box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
          background-color: #62a0ea;
          color: #181818; }
        .background.powermenu .content .button-bin .button .icon {
          background-size: contain;
          margin: 24px; }
          .background.powermenu .content .button-bin .button .icon.shutdown {
            background-image: url("/home/demeter/.config/eww/assets/powermenu/shutdown.png"); }
          .background.powermenu .content .button-bin .button .icon.reboot {
            background-image: url("/home/demeter/.config/eww/assets/powermenu/reboot.png"); }
          .background.powermenu .content .button-bin .button .icon.logout {
            background-image: url("/home/demeter/.config/eww/assets/powermenu/logout.png"); }
          .background.powermenu .content .button-bin .button .icon.suspend {
            background-image: url("/home/demeter/.config/eww/assets/powermenu/suspend.png"); }
          .background.powermenu .content .button-bin .button .icon.lock {
            background-image: url("/home/demeter/.config/eww/assets/powermenu/lock.png"); }
      .background.powermenu .content .button-bin .label {
        font-size: 20px;
        margin: 8px 0; }

.desktop {
  background-image: url("/home/demeter/.config/eww/assets/wallpaper.png");
  background-size: cover; }
  .desktop .clock {
    color: white;
    text-shadow: 4px 4px 4px black; }
    .desktop .clock .hour, .desktop .clock .minutes, .desktop .clock .separator {
      font-size: 10em;
      font-family: "mononoki NF"; }
    .desktop .clock .date {
      font-size: 2em; }

.osd-widget {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6), inset 0 0 0 1px rgba(255, 255, 255, 0.02);
  border-radius: 0px;
  margin: 0px;
  background-color: #181818;
  color: #eee;
  padding: 14px;
  padding: .3em; }
  .osd-widget .icon {
    font-size: 40px;
    color: #181818;
    min-width: 30px;
    min-height: 30px; }
  .osd-widget .scale {
    min-height: 14em; }
    .osd-widget .scale trough {
      border-radius: 0px;
      border: 1px solid rgba(255, 255, 255, 0.002);
      background-color: rgba(238, 238, 238, 0.08);
      min-height: 3em;
      min-width: 3em; }
      .osd-widget .scale trough highlight, .osd-widget .scale trough progress {
        border-radius: 0px;
        background-color: #62a0ea;
        min-height: 3em;
        min-width: 3em; }
      .osd-widget .scale trough slider {
        background-color: #eee;
        border-radius: 0px;
        border: 1px solid rgba(255, 255, 255, 0.002);
        min-height: 3em;
        min-width: 3em; }
    .osd-widget .scale:hover trough {
      background-color: rgba(238, 238, 238, 0.16); }
    .osd-widget .scale trough {
      background-color: transparent;
      border: none; }

.dock .container {
  min-width: 69em;
  min-height: 7.8em; }
  .dock .container.hovered {
    min-width: 70.2em; }

.dock .foot {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6), inset 0 0 0 1px rgba(255, 255, 255, 0.02);
  border-radius: 0px;
  margin: 0px;
  background-color: #181818;
  color: #eee;
  padding: 14px;
  margin: 0 1.5em;
  padding: 0;
  border-radius: 0px 0px 0 0;
  border-bottom: none;
  min-height: 1.5em; }

.dock .laucher .indicator {
  min-height: .4em;
  min-width: 2em;
  border-radius: 0px; }

.dock .laucher .icon {
  min-width: 6em;
  min-height: 6em;
  background-size: contain;
  background-repeat: no-repeat; }

.dock .laucher:hover {
  background-image: linear-gradient(transparent, rgba(238, 238, 238, 0.06)); }
  .dock .laucher:hover .icon {
    min-width: 7.2em;
    min-height: 7.2em; }

.dock .laucher:active .indicator {
  background-color: #62a0ea; }

.dock .laucher.firefox .icon {
  background-image: url("/home/demeter/.config/eww/assets/apps/firefox.png"); }

.dock .laucher.kitty .icon {
  background-image: url("/home/demeter/.config/eww/assets/apps/kitty.png"); }

.dock .laucher.file-manager .icon {
  background-image: url("/home/demeter/.config/eww/assets/apps/file-manager.png"); }

.dock .laucher.code .icon {
  background-image: url("/home/demeter/.config/eww/assets/apps/code.png"); }

.dock .laucher.spotify .icon {
  background-image: url("/home/demeter/.config/eww/assets/apps/spotify.png"); }

.dock .laucher.caprine .icon {
  background-image: url("/home/demeter/.config/eww/assets/apps/caprine.png"); }

.dock .laucher.bitwig .icon {
  background-image: url("/home/demeter/.config/eww/assets/apps/bitwig.png"); }

.dock .laucher.battle .icon {
  background-image: url("/home/demeter/.config/eww/assets/apps/battle.png"); }

.dock .laucher.bottles .icon {
  background-image: url("/home/demeter/.config/eww/assets/apps/bottles.png"); }

.notifications-window-box .notification .notification-content {
  padding: 14px; }
  .notifications-window-box .notification .notification-content .title {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 7px; }
  .notifications-window-box .notification .notification-content .image {
    min-width: 80px;
    min-height: 80px;
    background-size: contain;
    margin-right: 14px;
    border-radius: 0px; }
  .notifications-window-box .notification .notification-content .action-button {
    border-radius: 0px;
    color: #eee;
    background-color: rgba(238, 238, 238, 0.08);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
    font-size: 1.1em;
    font-weight: 500;
    padding: .5em;
    margin-top: 14px; }
    .notifications-window-box .notification .notification-content .action-button:focus {
      box-shadow: inset 0 0 0 1px #62a0ea;
      background-color: rgba(238, 238, 238, 0.16);
      color: #eee; }
    .notifications-window-box .notification .notification-content .action-button:hover {
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
      background-color: rgba(238, 238, 238, 0.16);
      color: #eee; }
    .notifications-window-box .notification .notification-content .action-button:active {
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
      background-color: #62a0ea;
      color: #181818; }
    .notifications-window-box .notification .notification-content .action-button:first-child {
      margin-right: 7px; }
    .notifications-window-box .notification .notification-content .action-button:last-child {
      margin-left: 7px; }
    .notifications-window-box .notification .notification-content .action-button:first-child:last-child {
      margin-left: 0;
      margin-right: 0; }
  .notifications-window-box .notification .notification-content .close-button {
    min-width: 1.4em;
    min-height: 1.4em; }

.notifications-window-box .notification:hover .notification-content .close-button {
  border-radius: 0px;
  color: #eee;
  background-color: rgba(238, 238, 238, 0.08);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
  background-color: rgba(246, 97, 81, 0.5); }
  .notifications-window-box .notification:hover .notification-content .close-button:focus {
    box-shadow: inset 0 0 0 1px #62a0ea;
    background-color: rgba(238, 238, 238, 0.16);
    color: #eee; }
  .notifications-window-box .notification:hover .notification-content .close-button:hover {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
    background-color: rgba(238, 238, 238, 0.16);
    color: #eee; }
  .notifications-window-box .notification:hover .notification-content .close-button:active {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
    background-color: #62a0ea;
    color: #181818; }
  .notifications-window-box .notification:hover .notification-content .close-button:hover {
    background-color: rgba(246, 97, 81, 0.7); }
  .notifications-window-box .notification:hover .notification-content .close-button:active {
    background-color: rgba(246, 97, 81, 0.9); }

.notifications-window-box .notification .notification-content {
  min-width: 450px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6), inset 0 0 0 1px rgba(255, 255, 255, 0.02);
  border-radius: 0px;
  margin: 0px;
  background-color: #181818;
  color: #eee;
  padding: 14px; }

.notification-center {
  min-width: 400px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6), inset 0 0 0 1px rgba(255, 255, 255, 0.02);
  border-radius: 0px;
  margin: 0px;
  background-color: #181818;
  color: #eee;
  padding: 14px; }
  .notification-center .title {
    margin-bottom: 8px; }
    .notification-center .title label {
      font-size: 1.4em; }
    .notification-center .title button {
      font-size: 1.0em;
      padding: .4em;
      border-radius: 0px;
      color: #eee;
      background-color: rgba(238, 238, 238, 0.08);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002); }
      .notification-center .title button:focus {
        box-shadow: inset 0 0 0 1px #62a0ea;
        background-color: rgba(238, 238, 238, 0.16);
        color: #eee; }
      .notification-center .title button:hover {
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
        background-color: rgba(238, 238, 238, 0.16);
        color: #eee; }
      .notification-center .title button:active {
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
        background-color: #62a0ea;
        color: #181818; }
  .notification-center .notifications-list {
    margin-bottom: 8px; }
    .notification-center .notifications-list .notification .notification-content {
      padding: 14px; }
      .notification-center .notifications-list .notification .notification-content .title {
        font-size: 1.2em;
        font-weight: 600;
        margin-bottom: 7px; }
      .notification-center .notifications-list .notification .notification-content .image {
        min-width: 80px;
        min-height: 80px;
        background-size: contain;
        margin-right: 14px;
        border-radius: 0px; }
      .notification-center .notifications-list .notification .notification-content .action-button {
        border-radius: 0px;
        color: #eee;
        background-color: rgba(238, 238, 238, 0.08);
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
        font-size: 1.1em;
        font-weight: 500;
        padding: .5em;
        margin-top: 14px; }
        .notification-center .notifications-list .notification .notification-content .action-button:focus {
          box-shadow: inset 0 0 0 1px #62a0ea;
          background-color: rgba(238, 238, 238, 0.16);
          color: #eee; }
        .notification-center .notifications-list .notification .notification-content .action-button:hover {
          box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
          background-color: rgba(238, 238, 238, 0.16);
          color: #eee; }
        .notification-center .notifications-list .notification .notification-content .action-button:active {
          box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
          background-color: #62a0ea;
          color: #181818; }
        .notification-center .notifications-list .notification .notification-content .action-button:first-child {
          margin-right: 7px; }
        .notification-center .notifications-list .notification .notification-content .action-button:last-child {
          margin-left: 7px; }
        .notification-center .notifications-list .notification .notification-content .action-button:first-child:last-child {
          margin-left: 0;
          margin-right: 0; }
      .notification-center .notifications-list .notification .notification-content .close-button {
        min-width: 1.4em;
        min-height: 1.4em; }
    .notification-center .notifications-list .notification:hover .notification-content .close-button {
      border-radius: 0px;
      color: #eee;
      background-color: rgba(238, 238, 238, 0.08);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
      background-color: rgba(246, 97, 81, 0.5); }
      .notification-center .notifications-list .notification:hover .notification-content .close-button:focus {
        box-shadow: inset 0 0 0 1px #62a0ea;
        background-color: rgba(238, 238, 238, 0.16);
        color: #eee; }
      .notification-center .notifications-list .notification:hover .notification-content .close-button:hover {
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
        background-color: rgba(238, 238, 238, 0.16);
        color: #eee; }
      .notification-center .notifications-list .notification:hover .notification-content .close-button:active {
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
        background-color: #62a0ea;
        color: #181818; }
      .notification-center .notifications-list .notification:hover .notification-content .close-button:hover {
        background-color: rgba(246, 97, 81, 0.7); }
      .notification-center .notifications-list .notification:hover .notification-content .close-button:active {
        background-color: rgba(246, 97, 81, 0.9); }
    .notification-center .notifications-list .notification .notification-content {
      border-radius: 0px;
      color: #eee;
      background-color: rgba(238, 238, 238, 0.06);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
      margin-bottom: 8px; }
  .notification-center .controls {
    border-radius: 0px;
    color: #eee;
    background-color: rgba(238, 238, 238, 0.06);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
    padding: 7px; }
    .notification-center .controls .sys-sliders .slider trough {
      border-radius: 0px;
      border: 1px solid rgba(255, 255, 255, 0.002);
      background-color: rgba(238, 238, 238, 0.08);
      min-height: 0.8em;
      min-width: 0.8em; }
      .notification-center .controls .sys-sliders .slider trough highlight, .notification-center .controls .sys-sliders .slider trough progress {
        border-radius: 0px;
        background-color: #62a0ea;
        min-height: 0.8em;
        min-width: 0.8em; }
    .notification-center .controls .sys-sliders .slider:hover trough {
      background-color: rgba(238, 238, 238, 0.16); }
    .notification-center .controls .sys-sliders .percent {
      margin: 8px;
      min-width: 2.6em; }
    .notification-center .controls .sys-sliders .icon {
      margin: 8px; }
      .notification-center .controls .sys-sliders .icon:first-child {
        font-size: 1.4em; }
    .notification-center .controls .sys-sliders button {
      border-radius: 0px;
      color: #eee;
      background-color: transparent;
      background-image: none;
      box-shadow: none;
      margin-right: 8px; }
      .notification-center .controls .sys-sliders button:focus {
        box-shadow: inset 0 0 0 1px #62a0ea;
        background-color: rgba(238, 238, 238, 0.16);
        color: #eee; }
      .notification-center .controls .sys-sliders button:hover {
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
        background-color: rgba(238, 238, 238, 0.16);
        color: #eee; }
      .notification-center .controls .sys-sliders button:active {
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
        background-color: #62a0ea;
        color: #181818; }
      .notification-center .controls .sys-sliders button .icon {
        margin: 0; }
    .notification-center .controls .toggle {
      min-height: 3.6em;
      border-radius: 0px;
      color: #eee;
      background-color: rgba(238, 238, 238, 0.08);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
      margin: 8px; }
      .notification-center .controls .toggle:focus {
        box-shadow: inset 0 0 0 1px #62a0ea;
        background-color: rgba(238, 238, 238, 0.16);
        color: #eee; }
      .notification-center .controls .toggle:hover {
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
        background-color: rgba(238, 238, 238, 0.16);
        color: #eee; }
      .notification-center .controls .toggle:active {
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
        background-color: #62a0ea;
        color: #181818; }
      .notification-center .controls .toggle.small {
        border-radius: 0px;
        color: #eee;
        background-color: rgba(238, 238, 238, 0.08);
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002); }
        .notification-center .controls .toggle.small:focus {
          box-shadow: inset 0 0 0 1px #62a0ea;
          background-color: rgba(238, 238, 238, 0.16);
          color: #eee; }
        .notification-center .controls .toggle.small:hover {
          box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
          background-color: rgba(238, 238, 238, 0.16);
          color: #eee; }
        .notification-center .controls .toggle.small:active {
          box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
          background-color: #62a0ea;
          color: #181818; }
      .notification-center .controls .toggle .separator {
        background-color: #eee;
        min-width: 2px;
        min-height: 1.4em; }
      .notification-center .controls .toggle .half {
        border-radius: 0px;
        color: #eee;
        background-color: transparent;
        background-image: none;
        box-shadow: none;
        min-height: 3.4em; }
        .notification-center .controls .toggle .half:focus {
          box-shadow: inset 0 0 0 1px #62a0ea;
          background-color: rgba(238, 238, 238, 0.16);
          color: #eee; }
        .notification-center .controls .toggle .half:hover {
          box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
          background-color: rgba(238, 238, 238, 0.16);
          color: #eee; }
        .notification-center .controls .toggle .half:active {
          box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
          background-color: #62a0ea;
          color: #181818; }
        .notification-center .controls .toggle .half:first-child {
          border-radius: 0px 0 0 0px; }
        .notification-center .controls .toggle .half:last-child {
          border-radius: 0 0px 0px 0; }
        .notification-center .controls .toggle .half:hover {
          background-color: rgba(238, 238, 238, 0.16); }
      .notification-center .controls .toggle.active {
        background-color: #62a0ea; }
        .notification-center .controls .toggle.active * {
          color: #181818; }
        .notification-center .controls .toggle.active .separator {
          background-color: #181818; }
        .notification-center .controls .toggle.active:hover * {
          color: #eee; }
      .notification-center .controls .toggle .icon {
        font-size: 2em; }
        .notification-center .controls .toggle .icon.arrow {
          font-size: 1.8em; }

tooltip > * > * {
  background-color: #181818;
  border-radius: 0px;
  border: 1px solid rgba(255, 255, 255, 0.02);
  color: #eee;
  padding: 8px;
  margin: 4px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4); }
