* {
    all: unset;
    font-size: 13px;
    font-family: 'Ubuntu Nerd Font', sans-serif;
}
$mono_font: 'UbuntuMono NF';

@import "./scss/variables.scss";
@import "./scss/common.scss";
@import "./scss/panel.scss";
@import "./scss/datemenu.scss";
@import "./scss/quicksettings.scss";
@import "./scss/powermenu.scss";
@import "./scss/desktop.scss";
@import "./scss/osd.scss";
@import "./scss/dock.scss";
tooltip{ @include tooltip }