/* GNOME 42 LIGHT */

#overviewGroup{ background-color: #1f1f1f; }
.workspace-animation{ background-color: #1f1f1f; }

/* PANEL */
#panel,
#panel:overview{
  background-color: transparent;
  height: 38px;
  margin: 8px;
  margin-bottom: 0;
}
#panelLeft, #panelCenter, #panelRight{
  background-color: #181818;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  border-radius: 8px;
}
.panel-button,
.clock{
  border-radius: 8px;
  border: 4px solid transparent;
  box-shadow: none;
  color: white;
}
.panel-button:active,
.panel-button:overview, /* activites */
.panel-button:active.clock-display .clock{
  box-shadow: inset 0 0 0 1px transparent;
  background-color: #5294e2;
  color: white;
}
.panel-button:hover,
.panel-button:hover .clock{
  box-shadow: inset 0 0 0 1px transparent;
  background-color: #5294e2;
}
/* clock fix */
.clock-display{
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}
.clock{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* POPOVERS */
.popup-menu-boxpointer {
  -arrow-rise: 10px;
}
.popup-menu-content{
  background-color: #282828;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 8px;
  padding: 6px;
}
.popup-menu-item{
  border-radius: 7px;
  padding: 8px;
  color: white;
}
.popup-menu-item:hover,
.popup-menu-item:focus{
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  background-color: rgba(255,255,255,0.08) !important;
}
.popup-menu-item:active{
  background-color: rgba(255,255,255,0.08) !important;
}
/* submenu */
.popup-menu-item:checked{
  border: 1px solid rgba(255,255,255,0.5);
  border-bottom: none;
  background-color: rgba(255,255,255,0.08) !important;
  border-radius: 7px 7px 0 0;
  box-shadow: inset 0 -1px 0 0 rgba(255,255,255,0.5);
}
.popup-menu-item:checked:hover{
  box-shadow: inset 0 -1px 0 0 rgba(255,255,255,0.5);
  background-color: rgba(255,255,255,0.16) !important;
}
.popup-menu-item:checked:active{
  background-color: #5294e2 !important;
}
.popup-sub-menu{
  background-color: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.5);
  border-top: none;
  border-radius: 0 0 7px 7px;
}
.popup-sub-menu .popup-menu-item{
  box-shadow: none;
  border-radius: 0;
  border: 1px solid transparent;
  border-left: none;
  border-right: none;
  padding: 4px;
}
.popup-sub-menu .popup-menu-item:hover,
.popup-sub-menu .popup-menu-item:focus{
  border-color: rgba(255,255,255,0.5);
}
.popup-sub-menu .popup-menu-item:last-child{
  box-shadow: none;
  border-radius: 0 0 7px 7px;
  border-bottom: none;
}
.popup-separator-menu-item-separator{
  background-color: rgba(255,255,255,0.7);
}
/* calendar */
#calendarArea {
  padding: 0;
}
.datemenu-calendar-column{
  color: white;
  background-color: rgba(255,255,255,0.08);
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  border-radius: 7px;
  padding: 6px;
}
.datemenu-today-button{
  color: white;
}
.calendar{
  color: white;
  background-color: #282828;
  border-radius: 7px;
  border: 1px solid rgba(255,255,255,0.5);
}
.calendar-month-label{
  color: white;
}
.pager-button:hover,
.pager-button:focus{
  background-color: rgba(255,255,255,0.08);
  border-radius: 6px;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
}
.pager-button:active{
  background-color: #5294e2;
}
/* calendar-days */
.calendar-day-base{
  border-radius: 6px;
}
.calendar-day-base:hover,
.calendar-day-base:focus,
.calendar-day-base:active:hover,
.calendar-day-base:selected:hover{
  background-color: rgba(255,255,255,0.08);
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
}
.calendar-day-base:active,
.calendar-day-base:selected,
.calendar-today{
  background-color: #5294e2;
  color: white !important;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
}
.calendar-day-base.calendar-day-heading{ color: rgba(255, 255, 255, 0.7); }
.calendar-nonwork-day{ color: rgba(255, 255, 255, 0.6);}
.calendar-other-month-day{ color: rgba(255, 255, 255, 0.3);}
.calendar-day-with-events{
  font-weight: 800;
  /* text-decoration: underline; */
  /* background-image: none; */
}
/* events */
.events-button,
.world-clocks-button,
.weather-button{
  color: white;
  background-color: #282828;
  border-radius: 7px;
  border: 1px solid rgba(255,255,255,0.5);
  box-shadow: none;
}
.events-button:hover,
.events-button:focus,
.world-clock-button:hover,
.world-clock-button:focus,
.weather-button:hover,
.weather-button:focus{
  background-color: rgba(255,255,255,0.08);
}
.events-button:active,
.world-clock-button:active,
.weather-button:active{
  background-color: #5294e2;
}
.events-title,
.event-time,
.world-clocks-header,
.weather-header{ color: rgba(255, 255, 255, 0.6); }
.world-clocks-time,
.world-clocks-city,
.world-clocks-timezone,
.weather-forecast-time{ color: white;}

/* message-list */
.message{
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  background-color: rgba(255,255,255,0.08);
  border-radius: 7px;
  color: white;
}
.message-body{ color: white; }
.message-close-button{color: white; background-color: transparent;}
.message-close-button:hover{
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  background-color: rgba(255,255,255,0.08);
  border-radius: 6px;
}
.message-close-button:active{ background-color: #5294e2;}

.message-media-control{ color: white; }
.message-media-control:insensitive{ color: rgba(0,0,0,0.3); }
.message-media-control:hover{
  box-shadow: inset 0 0 0 1px black;
  background-color: #85b5ef;
  border-radius: 8px;
}
.message-media-control:active{ background-color: #3584e4;}
.message-list-controls{ color: white; }

.toggle-switch{
  background-image: url("./assets/toggle8-off.svg");
  background-color: rgba(255,255,255,0.08);
  border-radius: 6px;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
}
.toggle-switch:checked{
  background-image: url("./assets/toggle8-on.svg");
  background-color: #5294e2;
}
.button{
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  background-color: rgba(255,255,255,0.08);
  border-radius: 6px;
  color: white;
}
.button:insensitive{
  color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
  background-color: transparent;
}
.button:hover{background-color: rgba(255,255,255,0.16);}
.button:active{background-color: #5294e2;}

/* NOTIFICATIONS */
.notification-banner{
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  background-color: #1f1f1f;
  border-radius: 8px;
  color: white;
}
.notification-button{
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  background-color: rgba(255,255,255,0.08);
  border-radius: 7px !important;
  color: white;
  margin: 6px !important;
}
.notification-button:hover{ background-color: rgba(255,255,255,0.16); }
.notification-banner:active,
.notification-button:active{ background-color: #5294e2; }

.slider,
.level{
  height: 20px;
  border-radius: 8px;
  color: white;
  -barlevel-height: 18px;
  -slider-handle-radius: 8px;
  -slider-handle-border-width: 0;
  
  -barlevel-border-width: 1px;
  -barlevel-border-color: rgba(255,255,255,0.08);
  -barlevel-active-border-color: rgba(255,255,255,0.08);

  -barlevel-active-background-color: #5294e2;
  -barlevel-background-color: rgba(53, 132, 228, 0.2);
}

/* overview-ws-thumbnail */
.workspace-thumbnail{
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 6px;
}
.workspace-thumbnail-indicator {
  border-color: #5294e2;
  border-width: 3px;
  border-radius: 9px;
}

/* APP-GRID */
.overview-icon{ color: white; }

.app-well-app:hover .overview-icon,
.app-well-app:focus .overview-icon,
.app-well-app:selected .overview-icon{
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  background-color: rgba(255,255,255,0.08);
  border-radius: 10px;
}
.app-well-app.app-folder .overview-icon{
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  background-color: rgba(255,255,255,0.08);
  border-radius: 10px;
}
.app-well-app.app-folder:hover .overview-icon{ background-color: rgba(255,255,255,0.16); }
.app-well-app.app-folder:active .overview-icon,
.app-well-app:active .overview-icon{ background-color: #5294e2;}

/* DASH */
#dash .dash-background{
  border-radius: 8px;
  border: none;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  background-color: #282828;
}
.dash-label {
  color: white;
  background-color: #474747;
  border-radius: 7px;
  box-shadow: inset 0 0 0 1px black;
}
.app-well-app-running-dot {
  width: 10px;
  height: 5px;
  border-radius: 4px;
  background-color: white;
}
StWidget.focused .app-well-app-running-dot {
  width: 18px;
  background-color: #5294e2;
}
.show-apps:hover .overview-icon,
.show-apps:focus .overview-icon,
.show-apps:selected .overview-icon{
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  background-color: rgba(255,255,255,0.08);
  border-radius: 10px;
}
#dash .app-well-app:hover .overview-icon,
#dash .app-well-app:focus .overview-icon,
#dash .app-well-app:selected .overview-icon{ background-color: rgba(255,255,255,0.08); }
.show-apps:active .overview-icon,
.show-apps:checked .overview-icon,
#dash .app-well-app:active .overview-icon{
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  background-color: #5294e2;
}

/* folder */
.app-folder-dialog{
  color: white;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  background-color: #282828;
  border-radius: 10px;
}
.folder-name-label,
.folder-name-entry{color: white;}
.edit-folder-button{
  color: white;
  box-shadow: none;
  background-color: transparent;
  border-radius: 8px;
}
.edit-folder-button:hover{
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  background-color: rgba(255,255,255,0.08);
}
.edit-folder-button:active{background-color: #5294e2;}

.page-indicator-icon{color:white;}

/* SEARCH */
StEntry{
  border: none;
  color: white;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  background-color: rgba(255,255,255,0.08);
  border-radius: 7px;
}
StEntry:hover, StEntry:focus, StEntry:active{
  background-color: rgba(255,255,255,0.16); 
  box-shadow: inset 0 0 0 2px #5294e2;
}
.search-entry{color: white;}

.search-section-content{
  color: white;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  background-color: rgba(255,255,255,0.08);
  border-radius: 8px;
}

.list-search-result:focus, .search-provider-icon:focus,
.list-search-result:hover, .search-provider-icon:hover,
.list-search-result:selected, .search-provider-icon:selected{
  color: white;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  background-color: rgba(255,255,255,0.08);
  border-radius: 7px;
}
.list-search-result:active, .search-provider-icon:active{background-color: #5294e2;}
.list-search-result-description{color: rgba(255, 255, 255, 0.5);}
.list-search-provider-details{color: white;}

/* OSD */
.workspace-switcher,
.switcher-list,
.resize-popup,
.modal-dialog,
.osd-window{
  color: white;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  background-color: #282828;
  border-radius: 8px;
}
.ws-switcher-indicator{
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  padding: 8px;
}
.ws-switcher-indicator:active{
  padding: 8px 12px;
  background-color: white;
  box-shadow: inset 0 0 0 1px #282828;
}
.switcher-list .item-box:hover,
.switcher-list .item-box:focus,
.switcher-list .item-box:selected{
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  background-color: rgba(255,255,255,0.08);
  border-radius: 7px;
}
.switcher-arrow{color: white;}
.modal-dialog-linked-button {
  padding: 10px 0 !important;
  margin: 6px !important;
  color: white;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  background-color: rgba(255,255,255,0.08);
  border-radius: 7px;
}
.modal-dialog-linked-button:hover,
.modal-dialog-linked-button:focus,
.modal-dialog-linked-button:checked{
  background-color: rgba(255,255,255,0.08);
}
.modal-dialog-linked-button:active{background-color: #5294e2;}
.nm-dialog-scroll-view{
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  background-color: rgba(255,255,255,0.08);
  border-radius: 8px;
}
.nm-dialog-item:selected{
  color: white;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  background-color: #5294e2;
  border-radius: 7px;
}

/* ws-bar */
.desktop-label-nonempty-active,
.desktop-label-empty-active,
.desktop-label-nonempty-inactive, 
.desktop-label-empty-inactive {
  margin: 0 2px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.6);
}
.desktop-label-nonempty-active,
.desktop-label-empty-active{
  color: white;
}

.just-perfection-api-workspace-background-radius-size0 .workspace-background  { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size1 .workspace-background  { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size2 .workspace-background  { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size3 .workspace-background  { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size4 .workspace-background  { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size5 .workspace-background  { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size6 .workspace-background  { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size7 .workspace-background  { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size8 .workspace-background  { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size9 .workspace-background  { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size10 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size11 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size12 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size13 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size14 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size15 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size16 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size17 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size18 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size19 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size20 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size21 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size22 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size23 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size24 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size25 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size26 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size27 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size28 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size29 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size30 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size31 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size32 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size33 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size34 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size35 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size36 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size37 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size38 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size39 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size40 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size41 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size42 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size43 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size44 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size45 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size46 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size47 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size48 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size49 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size50 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size51 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size52 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size53 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size54 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size55 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size56 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size57 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size58 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size59 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }
.just-perfection-api-workspace-background-radius-size60 .workspace-background { box-shadow: none !important; border: 1px solid rgba(255,255,255,0.5) !important; }


#panel .panel-button,
#panel .panel-button.clock-display .clock{
  border-radius: 8px;
  border: 4px solid transparent;
  box-shadow: inset 0 0 0 1px transparent;
}

/* mediacontrols */
#panel Gjs_mediacontrols_cliffniff_github_com_widget_MediaControls.panel-button { background-color: #765f72 !important; }
#panel Gjs_mediacontrols_cliffniff_github_com_widget_MediaControls.panel-button:active { background-color: #b48ead !important;}

/* clock */
#panel .panel-button.clock-display .clock{background-color: rgba(163, 190, 140, 0.6) !important;}
#panel .panel-button.clock-display:hover .clock{background-color: rgba(163, 190, 140, 0.8) !important;}
#panel .panel-button.clock-display:active .clock{background-color: rgba(163, 190, 140, 1) !important;}

/* aggregateMenu */
Gjs_ui_panel_AggregateMenu.panel-button{ background-color: rgba(191, 97, 106, 0.6) !important; }
Gjs_ui_panel_AggregateMenu.panel-button:hover{ background-color: rgba(191, 97, 106, 0.8) !important; }
Gjs_ui_panel_AggregateMenu.panel-button:active{ background-color: rgba(191, 97, 106, 1) !important; }

/* caffeine */
Gjs_caffeine_patapon_info_extension_Caffeine.panel-button{ background-color: rgba(208, 134, 112, 0.6) !important; }
Gjs_caffeine_patapon_info_extension_Caffeine.panel-button:hover{ background-color: rgba(208, 134, 112, 0.8) !important;}
Gjs_caffeine_patapon_info_extension_Caffeine.panel-button:active{ background-color: rgba(208, 134, 112, 1) !important; }

/* color-picker */
Gjs_color-picker_tuberry_extension_ColorButton.panel-button{ background-color: rgba(208, 134, 112, 0.6) !important; }
Gjs_color-picker_tuberry_extension_ColorButton.panel-button:hover{ background-color: rgba(208, 134, 112, 0.8) !important;}
Gjs_color-picker_tuberry_extension_ColorButton.panel-button:active{ background-color: rgba(208, 134, 112, 1) !important; }

/* app-menu */
Gjs_ui_panel_AppMenuButton.panel-button{ background-color: rgba(82, 147, 226, 0.6) !important; }
Gjs_ui_panel_AppMenuButton.panel-button:hover{ background-color: rgba(82, 147, 226, 0.8) !important; }
Gjs_ui_panel_AppMenuButton.panel-button:active{ background-color: rgba(82, 147, 226, 1) !important; }

/* appindicator */
Gjs_appindicator_rgcjonas_gmail_com_indicatorStatusIcon.panel-button{ background-color: rgba(235, 203, 139, 0.6) !important;}
Gjs_appindicator_rgcjonas_gmail_com_indicatorStatusIcon.panel-button:hover{ background-color: rgba(235, 203, 139, 0.8) !important;}
Gjs_appindicator_rgcjonas_gmail_com_indicatorStatusIcon.panel-button:active{ background-color: rgba(235, 203, 139, 1) !important;}

/* ws-bar */
Gjs_workspaces-bar_fthx_extension_WorkspacesBar.panel-button{
  background-color: rgba(94, 129, 172, 0.8);
}

#panelActivities{ background-color: rgba(81, 146, 225, 0.6) !important; }
#panelActivities:hover{ background-color: rgba(81, 146, 225, 0.8) !important; }
.panel-button:overview{ background-color: rgba(81, 146, 225, 1) !important; }