$theme: 'dark';

//gnome
// $red: #f66151;
// $green: #57e389;
// $blue: #62a0ea;
// $yellow: #f6d32d;
// $magenta: #c061cb;
// $teal: #5bc8aF;
// $orange: #ffa348;

//charm
$red: #e67090;
$green: #43c383;
$yellow: #d8e77b;
$blue: #51a4e7;
$magenta: #9077e7;
$teal: #51e6e6;
$orange: #E79E64;

$bg_color: #171717;
$fg_color: #eee;
$hover_fg: #eee;
$accent_fg: #171717;
