@mixin widget($radii: $widget_radius){
    border-radius: $radii;
    color: $fg_color;
    background-color: $widget_bg;
    box-shadow: inset 0 0 0 $border_width $border_color;
}

@mixin button($flat: false, $interactive: true, $radii: $radii){
    border-radius: $radii;
    color: $fg_color;
    @if $flat{
        background-color: transparent;
        background-image: none;
        box-shadow: none;
    }@else{
        background-color: $button_bg;
        box-shadow: inset 0 0 0 $border_width $border_color;
    }
    @if $interactive{
        &:focus{
            box-shadow: inset 0 0 0 $border_width $accent;
            background-color: $hover;
            color: $hover_fg;
        }
        &:hover{
            box-shadow: inset 0 0 0 $border_width $border_color;
            background-color: $hover;
            color: $hover_fg;
        }
        &:active{
            box-shadow: inset 0 0 0 $border_width $border_color;
            background-color: $accent;
            color: $accent_fg;
        }
    }
}

@mixin floating_widget($shadow: true, $padding: $popover_padding){
    @if $shadow {
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.8),
                    inset 0 0 0 $border_width $popover_border_color;
    } @else {
        box-shadow: inset 0 0 0 $border_width $popover_border_color;
    }
    border-radius: $popover_radius;
    margin: max($wm_gaps, 14px);
    background-color: $bg_color;
    color: $fg_color;
    padding: $padding;
}

@mixin slider($width: .4em, $color: $accent, $slider: true){
    trough{
        border-radius: $button_radius;
        border: $border;
        background-color: $button_bg;
        min-height: $width;
        min-width:  $width;
        highlight, progress{
            border-radius: $button_radius;
            background-color: $color;
            min-height: $width;
            min-width:  $width;
        }
        slider{
            @if $slider{
                background-color: $fg_color;
                border-radius: $button_radius;
                border: $border;
                min-height: $width;
                min-width:  $width;
            }
        }
    }
    &:hover{
        trough{
            background-color: $hover;
        }
    }
}

@mixin darkened($radii: 0){
    border-radius: $radii*0.8;
    @if $theme == 'dark' {
        box-shadow: inset 0 0 3em 1em transparentize($bg_color, 0.1);
    }
    @if $theme == 'light' {
        background-color: transparentize($bg_color, 0.5);
    }
}

@mixin tooltip{
    > * > *{
        background-color: $bg_color;
        border-radius: $button_radius;
        border: $border_width solid $popover_border_color;
        color: $fg_color;
        padding: 8px;
        margin: 4px;
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.4);
    }
} 

@mixin notification() {
    .notification-content{
        padding: $popover_padding;
        .title{
            font-size: 1.2em;
            font-weight: 600;
            margin-bottom: $popover_padding/2;
        }
        .image{
            min-width: 80px;
            min-height: 80px;
            background-size: contain;
            margin-right: $popover_padding;
            border-radius: $button_radius;
        }
        .action-button{
            @include button;
            font-size: 1.1em;
            font-weight: 500;
            padding: .5em;
            margin-top: $popover_padding;
            &:first-child{
                margin-right: $popover_padding/2;
            }
            &:last-child{
                margin-left: $popover_padding/2;
            }
            &:first-child:last-child{
                margin-left: 0;
                margin-right: 0;
            }
        }
        .close-button{
            min-width: 1.4em;
            min-height: 1.4em;
        }
    }
    &:hover{
        .notification-content{
            .close-button{
                @include button;
                background-color: transparentize($red, 0.5);
                &:hover{
                    background-color: transparentize($red, 0.3);
                }
                &:active{
                    background-color: transparentize($red, 0.1);
                }
            }
        }
    }
}
