$spacing: $popover_padding*0.5;

.datemenu{
    @include floating_widget;

    .clock *{
        margin-top: $spacing;
        text-shadow: $text_shadow;
        font-size: 7em;
    }

    .uptime{
        margin-bottom: $spacing*2;
        font-size: 1.1em;
        text-shadow: $text_shadow;
        color: transparentize($fg_color, 0.3)
    }
    
    .calendar-bin{
        @include button;
        margin: $spacing;
        padding: .6em 2em 0 2em;
        calendar{
            &.button{
                @include button($flat: true);
                margin: 1em;
            }
            &:selected{
                box-shadow: inset 0 -8px 0 0 transparentize($accent, 0.5),
                            inset 0 0 0 1px $accent;
                border-radius: $button_radius;
            }
            &.header{
                background-color: transparent;
                border: none;
                color: transparentize($fg_color, 0.5);
            }
            &.highlight{
                background-color: transparent;
                color: transparentize($accent, 0.5);
            }
            &:indeterminate {
                color: transparentize($fg_color, 0.9);
            }
            font-size: 1.2em;
            padding: .2em;
        }
    }

    .events{
        @include button;
        margin: $spacing;
        .box-title{
            padding: 12px;
            padding-bottom: 6px;
            border-bottom: $border_width solid transparentize($fg_color, 0.92);
        }
        .events-box{
            padding: 12px;
            .event{
                .date{
                    color: transparentize($fg_color, 0.5);
                    font-family: $mono_font;
                }
                .title{ margin-left: 8px; }
                label{ font-size: 1.2em;}
            }
        }
    }
    
    .weather{
        .info{
            @include button;
            margin: $spacing;
            padding: 12px;
            label:first-child{ font-size: 1.2em; }
            label:last-child{ color: transparentize($fg_color, 0.3); }
        }
        .icon{
            @include button;
            margin: $spacing;
            padding: 12px;
            font-size: 2.6em;
            font-family: $mono_font;
            
            &.clear.d{ color: transparentize($yellow, 0.6); }
            &.clear.n{ color: transparentize($blue, 0.6); }

            &.clouds.d{ color: transparentize($fg_color, 0.6); }
            &.clouds.n{ color: transparentize($blue, 0.6); }

            &.rain{ color: transparentize($blue, 0.6); }
            &.thunderstorm{ color: transparentize($yellow, 0.6); }
            &.snow{ color: transparentize($fg_color, 0.6); }
            &.mist{ color: transparentize($teal, 0.6); }
        }
    }

    .wallpaper{
        min-height: 13em;
        margin: $spacing;
        background-image: url($assets+'wallpaper.png');
        background-size: cover;
        border-radius: $button_radius;
        box-shadow: inset 0 0 0 $border_width $border_color;
    }
}