$spacing: $popover_padding*0.5;

.quick-settings{
    @include floating_widget;

    .module{
        @include widget;
        margin: $spacing;
        padding: $spacing;
    }

    .user{
        .profile-picture{
            padding: 0;
            min-height: 10em;
            min-width:  10em;
            background-size: cover;
            .darkened{
                @include darkened($radii: $button_radius);
                padding: .3em;
                label{
                    text-shadow: $text_shadow;
                    &:first-child{
                        color: transparentize($fg_color, 0.1);
                        font-size: 1.3em;
                    }
                    &:last-child{
                        color: transparentize($fg_color, 0.3);
                        font-size: 1.1em;
                    }
                }
            }
        }
        .sysactions{
            button{
                @include button($radii: 40%);
                margin: $spacing;
                padding: .4em;
                label{ font-size: 2.4em }
                &.power{ color: $red; }
            }
            .uptime{
                font-size: 1.3em;
                color: transparentize($fg_color, 0.5);
            }
        }
    }

    .sliders{
        .slider{ @include slider($width: .8em, $slider: false); }
        .percent{
            margin: $spacing;
            min-width: 2.6em;
        }
        .icon{
            margin: $spacing;
            &:first-child{ font-size: 1.4em; }
        }
        button{
            @include button($flat: true);
            margin-right: $spacing;
            .icon{ margin: 0; }
        }
    }

    .system{
        .module{
            padding: 8px;
            min-width:  4.4em;
            min-height: 4.4em;
        }
        circular-progress{
            background-color: $bg_color;
            color: $accent;
            &.battery{
                &.low{ color: $red }
            }
            .icon{ font-size: 1.8em; }
        }
    }

    $toggle_radius: 19px;
    .toggles .toggle{
        @include button($radii: $toggle_radius);
        &.small{ @include button($radii: 40%); }
        margin: $spacing;
        .separator{
            background-color: $fg_color;
            min-width: 2px;
            min-height: 1.4em;
        }
        .half{
            @include button($flat: true);
            min-height: 3.4em;
            &:first-child{ border-radius: $toggle_radius 0 0 $toggle_radius }
            &:last-child{ border-radius: 0 $toggle_radius $toggle_radius 0 }
            &:hover{ background-color: $hover }
        }
        &.active{
            * { color: $accent_fg; }
            background-color: $accent;
            .separator{ background-color: $accent_fg; }
            &:hover *{ color: $hover_fg }
        }
        .icon{
            font-size: 2em;
            &.arrow{ font-size: 1.8em; }
        }
    }

    .media{
        min-height: 12em;
        padding: 0;
        text-shadow: $text_shadow;
        .cover{
            @include widget;
            background-size: cover;
            background-position: center;
            .darkened{
                @include darkened($radii: $button_radius);
            }
            .slider{
                @include slider($width: .4em, $slider: false, $color: transparentize($fg_color, 0.3));
                scale > contents{
                    trough{
                        border-radius: 0;
                        border: 0;
                        highlight{
                            border-radius: 0;
                        }
                    }
                }
            }
            .box{ margin: $spacing; }
            .artist{ font-size: 1.2em; }
            .title, .position{ color: transparentize($fg_color, 0.2);}
            .icon.player{
                font-size: 1.4em;
                margin-left: .6em;
            }
            .controls{
                margin: $spacing;
                button{
                    label{ font-size: 2em; }
                    &.loop, &.shuffle{
                        label{ font-size: 1.2em; }
                    }
                    color: transparentize($fg_color, 0.3);
                    &:hover{ color: $fg_color; }
                    &.active{ color: $accent; }
                    &.inactive{
                        color: transparentize($fg_color, 0.7);
                        text-shadow: none;
                    }
                    &.loop{
                        &.Playlist{ color: transparentize($accent, 0.2); }
                        &.Track{  color: $accent; }
                    }
                }
            }
        }
        .sidebar{
            .slider{ @include slider($width: .6em, $slider: false); }
            margin: $spacing*2;
        }

        &.spotify{
            .icon.player{ color: $green; }
            .sidebar .slider{
                @include slider($width: .6em, $slider: false, $color: $green);
            }
            .controls button{
                &.active{ color: $green; }
                &.loop{
                    &.Playlist{ color: transparentize($green, 0.2); }
                    &.Track{  color: $green; }
                }
            }
        }

        &.firefox\.instance2{
            .icon.player{ color: $orange; }
        }

        &.mpv{
            .icon.player{ color: $magenta; }
            .sidebar .slider{
                @include slider($width: .6em, $slider: false, $color: $magenta);
            }
            .controls button{
                &.active{ color: $magenta; }
                &.loop{
                    &.Playlist{ color: transparentize($magenta, 0.2); }
                    &.Track{  color: $magenta; }
                }
            }
        }
    }
}