window#applauncher .applauncher{
    @include floating_widget;
    .search {
        padding: 30px;
        border-radius: $radii;
        margin-bottom: $popover_padding;
        background-size: cover;
        .icon {
            @include button;
            border-radius: $radii/2;
            background-color: transparentize($bg_color, 0.4);
            padding: $spacing/2;
            margin-right: $spacing;
        }
        entry {
            @include widget;
            border-radius: $radii/2;
            background-color: transparentize($bg_color, 0.4);
            transition: $transition;
            padding: $spacing/2;
        }
    }
    scrolledwindow {
        @include scrollbar;
        padding: $popover_padding;
        min-width: 500px;
        min-height: 350px;
    }
    .app {
        border-top: 1px solid $hover;
        &:last-child {
            border-bottom: 1px solid $hover;
        }
        padding: $spacing 0;
        label {
            min-width: 450px;
            &.title {
                color: $fg_color;
            }
            &.description {
                color: transparentize($fg_color, 0.3);
            }
        }
        image {
            margin-right: $spacing;
        }
        &:hover, &:focus {
            .title {
                color: $accent;
            }
            image {
                -gtk-icon-shadow: 2px 2px $accent;
            }
        }
        &:active {
            .title {
                color: $fg_color;
            }
            background-color: transparentize($accent, 0.5);
            border-radius: $radii;
        }
    }
}
