window#applauncher .applauncher{
    @include floating_widget;

    .search.wallpaper {
        margin: $popover_padding;
        margin-bottom: 0;
        padding: $spacing;
        border-radius: $radii;

        @if $drop_shadow {
            box-shadow: 0 0 0 $border_width $border_color,
                inset 0 0 $spacing 0 $shadow;
        } @else {
            box-shadow: 0 0 0 $border_width $border_color;
        }

        .entry {
            padding: 30px;

            image {
                @include widget;
                border-radius: $radii/2;
                background-color: transparentize($bg_color, 0.4);
                padding: $spacing/2;
                margin-right: $spacing;
                -gtk-icon-transform: scale(0.8);
            }

            entry {
                @include widget;
                border-radius: $radii/2;
                background-color: transparentize($bg_color, 0.4);
                transition: $transition;
                padding: $spacing/2;
            }
        }
    }

    .separator {
        min-height: 1px;
        background-color: $hover;
        margin: $spacing/2;
    }

    scrolledwindow {
        @include scrollbar;
        padding: $popover_padding;
        min-width: 500px;
        min-height: 350px;
    }

    .app {
        all: unset;
        transition: $transition;
        padding: $spacing;

        label {
            transition: $transition;
            min-width: 450px;

            &.title {
                color: $fg_color;
            }

            &.description {
                color: transparentize($fg_color, 0.3);
            }
        }

        image {
            transition: $transition;
            margin-right: $spacing;
        }

        &:hover, &:focus {
            .title {
                color: $accent;
            }

            image {
                -gtk-icon-shadow: 2px 2px $accent;
            }
        }

        &:active {
            background-color: transparentize($accent, 0.5);
            border-radius: $radii;
            box-shadow: inset 0 0 0 $border_width $border_color;

            .title {
                color: $fg_color;
            }
        }
    }
}
