$float: 5px;

@mixin panel_button($flat: false, $reactive: true){
    @include accs_button($flat, $reactive);

    label {
        font-weight: bold;
    }

    @if $bar_style == 'separated' {
        > * {
            @include floating_widget;
            border-radius: $radii;
            margin: $wm_gaps $float;
        }
    }

    > * {
        padding: .3em .5em;

        @if $bar_style != 'separated' {
            margin: $float;
        }
    }
}

.panel {
    @if $bar_style == 'normal' {
        background-color: $bg_color;
    }

    @if not $screen_corners and $bar_style == 'normal' {
        @if $layout == 'bottombar' {
            border-top: $border;
        } @else {
            border-bottom: $border;
        }
    }

    @if $bar_style == 'floating' {
        @include floating_widget;
        padding: 0;
    }

    @if $bar_style == 'separated' {
        .right button:last-child > * {
            margin-right: $wm_gaps;
        }

        .left button:first-child > * {
            margin-left: $wm_gaps;
        }
    }

    .panel-button {
        @include panel_button($flat: true);

        &.client, &.media, &.notifications {
            @include panel_button($flat: true, $reactive: false);
        }
    }

    .quicksettings > box > * {
        margin: 0 $spacing/2;
        &:last-child { margin-right: 0; }
        &:first-child { margin-left: 0; }
    }

    .separator {
        background-color: transparentize($fg_color, 0.7);
        border-radius: $radii;
        min-height: 5px;
        min-width: 5px;
    }

    .launcher {
        label { color: transparentize($accent, 0.2); } 
        &:hover label { color: $accent; }
        &:active label { color: $accent_fg; }
    }

    .powermenu, .recorder {
        image { color: transparentize($red, 0.3); }
        &:hover image { color: transparentize($red, 0.15); }
        &:active image { color: $red; }
    }

    .quicksettings:not(.active) .battery {
        &.low { color: $red; }
        &.charged, &.charging { color: $green; }
    }

    .workspaces {
        border: $float solid transparent;

        @if $bar_style == 'separated' {
            @include floating_widget;
            border-radius: $radii;
            margin: $wm_gaps+$border_width $float;
            padding: 0;
        } @else {
            .eventbox {
                @include button;
            }
        }

        button {
            .indicator {
                min-width: 10px;
                min-height: 10px;
                border-radius: $radii*0.6;
                border: 2px solid transparent;
                transition: border $transition;
                margin: 0 $spacing/2;

                .fill {
                    transition: background-color $transition;
                    margin: 2px;
                    min-width: 6px;
                    min-height: 6px;
                    border-radius: max($radii*0.7 - 4px, 0);
                }
            }

            &:last-child .indicator { margin-right: $spacing; }
            &:first-child .indicator { margin-left: $spacing; }

            &.empty .indicator {
                border-color: transparentize($fg_color, 0.3);
            }

            &.occupied .indicator {
                border-color: transparentize($fg_color, 0.1);
                .fill { background-color: transparentize($fg_color, 0.1) }
            }

            &:hover .indicator {
                border-color: transparentize($accent, 0.2);
                .fill { background-color: transparentize($accent, 0.2) }
            }

            &.active .indicator, &:active .indicator {
                border-color: $accent;
                .fill { background-color: $accent }
            }

            &.empty .indicator .fill {
                background-color: transparent;
            }
        }
    }

    .media {
        &.spotify .icon { color: $green; }
        &.firefox .icon { color: $orange; }
        &.mpv .icon { color: $magenta; }
    }

    .dock {
        @include dock($spacing: $float);
    }
}
