$float: 5px;

@mixin panel_button($flat: false, $reactive: true) {
    @include button($flat: $flat, $reactive: $reactive);
    border-radius: $radii + $float;
    padding: $spacing/2 $spacing;

    @if not $reactive {
        padding: 0 $spacing/2;
    }
    font-weight: bold;

    &, &:hover, &:active, &:focus {
        border: $float solid $bg_color;
    }
}

.panel {
    background-color: $bg_color;
    color: $fg_color;

    .launcher,
    .workspaces,
    .colorpicker,
    .quicksettings,
    .powermenu,
    .dashboard,
    .mpris button,
    .datemenu {
        @include panel_button($flat: true);
    }

    .quicksettings > box {
        padding: 0 $spacing*1.4;
    } 

    .media-indicator, .notifications-indicator {
        .indicator {
            @include panel_button($flat: true, $reactive: false);
        }
    }

    .workspaces {
        @include panel_button;
    }

    .separator {
        min-height: .4em;
        min-width: .4em;
        margin: 0 .2em;
        border-radius: $radii;
        background-color: $hover;
    }

    .workspaces button {
        .indicator {
            min-width: .6em;
            min-height: .6em;
            border-radius: $radii/2;
            border: 2px solid red;
            transition: border $transition;
            margin: 0 $spacing/2;

            .fill {
                transition: background-color $transition;
                margin: 2px;
                border-radius: max($radii*0.7 - 4px, 0);
            }
        }

        &:last-child .indicator { margin-right: $spacing*1.6 }
        &:first-child .indicator { margin-left: $spacing*1.6 }

        &.empty .indicator {
            border-color: transparentize($fg_color, 0.4);
        }

        &.occupied .indicator {
            border-color: transparentize($fg_color, 0.2);
            .fill { background-color: transparentize($fg_color, 0.2) }
        }

        &:hover .indicator {
            border-color: transparentize($accent, 0.2);
            .fill { background-color: transparentize($accent, 0.2) }
        }

        &.active .indicator, &:active .indicator {
            border-color: $accent;
            .fill { background-color: $accent }
        }

        &.empty .indicator .fill {
            background-color: transparent;
        }
    }

    .client {
        @include panel_button($flat: true, $reactive: false);

        image {
            margin-right: $spacing/2;
        }
    }

    .quicksettings {
        .indicator {
            margin-right: $spacing;

            &:last-child {
                margin-right: 0;
            }
        }

        .notifications.notified {
            color: $yellow;
        }

        .battery {
            .charged, .charging {
                color: $green;
            }

            .low {
                color: $red;
            }
        }

        .bluetooth {
            .device {
                margin-right: $spacing/2;
            }
        }
    }

    .launcher {
        color: transparentize($accent, 0.2);

        &:hover {
            color: transparentize($accent, 0.1);
            color: $accent;
        }
    }

    .recorder {
        @include panel_button($flat: false);
    }

    .powermenu, .recorder {
        color: transparentize($red, 0.2);

        &:hover {
            color: transparentize($red, 0.1);
            color: $red;
        }
    }

    // layout three
    .dock {
        @include dock;
    }

    .media > * {
        @include panel_button($flat: true);

        > * {
            padding: 0 $spacing;
        }
    }
}
