@mixin calendar {
    @include widget;
    padding: $spacing*2 $spacing*2 0;

    calendar{
        all: unset;

        &.button{
            @include button($flat: true);
            margin: 1em;
        }

        &:selected{
            box-shadow: inset 0 -8px 0 0 transparentize($accent, 0.5),
            inset 0 0 0 1px $accent;
            border-radius: $radii*0.6;
        }

        &.header{
            background-color: transparent;
            border: none;
            color: transparentize($fg_color, 0.5);
        }

        &.highlight{
            background-color: transparent;
            color: transparentize($accent, 0.5);
        }

        &:indeterminate {
            color: transparentize($fg_color, 0.9);
        }
        font-size: 1.1em;
        padding: .2em;
    }
}

@mixin datemenu {
    .clock {
        font-size: 5em;
    }

    .uptime {
        font-size: 2em;
        color: transparentize($fg_color, 0.2);
    }

    .calendar {
        @include calendar;

        margin-top: $spacing*2;
    }
}

window#datemenu .datemenu {
    @include floating_widget;
    @include datemenu;
}
