.desktop {
    background-color: $bg_color;


    &.bottombar .corner:first-child,
    &.topbar .corner:last-child {
        background-color: black;
    }

    .clock {
        color: $bg_color;
        font-size: 140px;
        border: 5px solid $bg_color;
        border-radius: $radii;
        font-family: $mono_font;
        padding: 0 14px;
    }

    .date {
        color: $bg_color;
        font-size: 48px;
    }

    .wallpaper {
        border-radius: $popover_radius;
        box-shadow: inset 0 0 $spacing 0 $box_shadow;
        margin: 2px;
    }

    &.bottombar .wallpaper {
        margin-bottom: 0;
    }

    &.topbar .wallpaper {
        margin-top: 0;
    }
}

window.indicator .indicator {
    @include floating_widget;
    padding: $spacing/2;

    .fill {
        border-radius: max($popover_radius - $spacing/2, 0);
        background-color: $accent;
        color: $bg_color;

        image {
            -gtk-icon-transform: scale(0.7);
        }

        label {
            margin: 3px;
            font-size: 34px;
        }
    }
}
