$float: 5px;

@mixin dock {
    .separator {
        min-width: 2px;
        min-height: 2em;
        border-radius: $radii;
        background-color: transparentize($fg_color, 0.8);
        margin: 0 $spacing;
    }

    button {
        @include button($flat: true);
        border: $float solid $bg_color;
        border-radius: $radii + $float;

        &:last-child {
            margin-right: 0;
        }

        &:first-child {
            margin-left: 0;
        }

        image {
            padding: .4em;
        }

        .indicator {
            min-width: 6px;
            min-height: 6px;
            background-color: $fg_color;
            border-radius: $radii;
            margin-bottom: 2px;
        }

        &.single .indicator, &.nonrunning .indicator {
            background-color: transparent;
        }

        &.focused {
            @include button_hover;

            .indicator {
                min-width: 18px;
                background-color: $accent;
            }
        }
    }
}

.floating-dock .dock {
    @include floating_widget;
    @include dock;
}
