@mixin dock($spacing: $spacing) {
    .separator {
        min-width: 2px;
        min-height: 2em;
        border-radius: $radii;
        background-color: transparentize($fg_color, 0.8);
        margin: 0 $spacing;
    }

    button {
        @include accs_button($flat: true);

        image, > * {
            margin: $spacing;
        }

        .indicator {
            min-width: 6px;
            min-height: 6px;
            background-color: $fg_color;
            border-radius: $radii;
            margin-bottom: 2px;
        }

        &.single .indicator, &.nonrunning .indicator {
            background-color: transparent;
        }

        &.focused > * {
            @include button_hover;

            .indicator {
                min-width: 18px;
                background-image: $active_gradient;
            }
        }
    }
}

.floating-dock .dock {
    @include dock;
    @include floating_widget;
    padding: $spacing;
}
