window#overview .overview {
    @include floating_widget;

    .workspace {
        margin: 0 $spacing;
        &:last-child { margin-right: 0; }
        &:first-child { margin-left: 0; }

        &.active > widget {
            border-color: $accent
        }

        > widget {
            @include widget;

            &:drop(active) {
                border-color: $accent;
            }
        }
    }

    .client {
        @include button;
        border-radius: $radii*0.8;
        margin: $spacing;
    }
}
