@mixin smalltoggle() {
    @include button;
    border-radius: $radii;
    padding: $spacing;
    margin: 0 $spacing/2;

    &.on {
        @include button_active;
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

@mixin sliders() {
    scale {
        margin: 0 $spacing;

        @include slider($width: .3em, $slider_width: .5em);
    }

    .percent {
        min-width: 2.8em;
    }

    button {
        @include button($flat: true);
        border-radius: $radii*0.8;
        margin-left: $spacing/2;
    }
}

@mixin mixer() {
    scale {
        @include slider($width: .3em, $slider_width: .5em);
    }

    > box {
        margin-bottom: $spacing;
        &:last-child { margin-bottom: 0; }

        image {
            margin-right: $spacing;
        }

        label {
            margin-left: .1em;
        }

        label:last-child {
            min-width: 3em;
        }
    }
}

window#quicksettings .quicksettings {
    @include floating_widget;
    min-width: 350px;

    .header {
        margin-bottom: $spacing;

        .avatar {
            @include widget;
            border: none;
            min-width: 50px;
            min-height: 50px;

            .shader {
                @include widget;
                @include shader($width: 18px);
            }
        }

        .user {
            color: transparentize($fg_color, 0.2);
            margin-left: $spacing/2;
        }

        button {
            @include button;
            padding: $spacing;
            margin-left: $spacing;
        }
    }

    .sliders {
        @include widget;
        @include sliders;
        padding: $popover_padding;
        margin-bottom: $spacing;

        > box {
            margin-bottom: $spacing;
            &:last-child { margin-bottom: 0 }
        }
    }

    .mixer {
        @include mixer;
        @include widget;
        padding: $popover_padding;
        margin-bottom: $spacing;
    }

    .toggles {
        button {
            @include smalltoggle;
        }
    }
}

window#quicksettings .notification-center {
    @include floating_widget;

    .notifications {
        @include notifications;

        .notification-list {
            min-width: 400px;
            padding-top: $popover_padding;

            .notification > box {
                @include widget;
                margin-bottom: $spacing;
            }
        }

        .placeholder .icon {
            font-size: 7em;
        }
    }

    .settings {
        @include widget;
        padding: $popover_padding;

        .slider-box {
            @include sliders;
            margin-bottom: $spacing;
        }

        .toggles {
            margin-top: $spacing;

            button {
                @include smalltoggle;
            }
        }
    }

    .mixer {
        @include widget;
        @include mixer;
        padding: $popover_padding;
        margin-bottom: $spacing;
    }
}
