window#quicksettings .quicksettings {
    @include floating_widget;

    .row {
        margin-top: $spacing;
        &:first-child { margin-top: 0; }
    }

    .header {
        .avatar {
            @include widget;
            margin-right: $spacing;
            min-width: $spacing*7 + 38px;

            .shader {
                @include shader;
            }
        }

        .battery-progress {
            label {
                margin-top: $spacing;
                color: $accent_fg;
                font-size: $spacing*2;
                font-weight: bold;
            }

            &.half label { color: $fg_color; }

            progressbar {
                @include slider($width: $spacing*3.4);
                margin-top: $spacing;
                min-height: 20px;
            }

            &.low progressbar {
                @include slider($width: $spacing*3.4, $gradient: linear-gradient(to right, $red, $red));
                margin-top: $spacing;
                min-height: 20px;
            }
        }

        .system-box {
            @include widget;
            padding: $spacing;

            button, .uptime {
                @include button;
                padding: $spacing;
                font-weight: bold;
                margin-left: $spacing;
                &:first-child { margin-left: 0; }
                min-height: 20px;
                min-width: 20px;
                
                image {
                    font-size: 1.2em;
                }
            }
        }
    }

    .slider-box {
        @include widget;
        padding: $spacing;

        > box:last-child { margin-bottom: 0; }

        .slider > * {
            margin-left: $spacing;
            &:first-child { margin-left: 0; }
        }

        button, .icon {
            @include button($flat: true);
            padding: $spacing/2;
        }

        scale {
            @include slider;

            &:last-child {
                margin-right: $spacing/2;
            }
        }

        .menu {
            background-color: $bg_color;
            border: $border_width solid $popover_border_color;
            border-radius: $radii;
        }
    }

    .mixer-item {
        margin: 0 $spacing;
        scale { @include slider($width: 7px); }
        > box { padding: $spacing; }
        label:last-child { min-width: 3em; }
        image { font-size: 20px; }
    }

    .menu {
        @include widget;
        margin-top: $spacing;
        padding: $spacing;

        separator { 
            background-color: $border_color;
            margin: $spacing $spacing/2;
        }

        label { margin-left: $spacing; }

        button {
            @include button($flat: true);
            padding: $spacing/2;
        }

        switch {
            @include switch;
        }
    }

    .toggle-button {
        @include button;
        margin-right: $spacing;
        font-weight: bold;

        label {
            margin-left: $spacing/2;
        }

        button {
            @include button($flat: true);
            padding: $spacing;

            &:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        &.active {
            background-color: $accent;

            label, image {
                color: $accent_fg;
            }
        }
    }

    .simple-toggle {
        @include button;
        padding: $spacing;
    }

    .media .player {
        @include media;
        margin-top: $spacing;
    }
}
