window#settings {
    background-color: $bg_color;
    color: $fg_color;

    .settings {
        .headerbar {
            background-color: $widget_bg;
            padding: $spacing/2;
            border-bottom: $border;
        }

        .tab {
            @include button($flat: true);
            margin: $spacing/3;
        }

        .wallpaper-box {
            border-radius: $radii;
            border: $border;
            margin: $popover_padding;

            .wallpaper {
                border-radius: max($radii - 1px, 0);
                background-position: center;
            }
        }

        .content {
            padding: $popover_padding;
        }

        button, entry {
            @include button;
            padding: $spacing*0.7;
        }

        spinbutton, spinbutton:focus {
            @include button;

            button, entry {
                all: unset;
                padding: $spacing*0.7;

                &:last-child {
                    border-radius: 0 $radii $radii 0;
                }
            }
        }

        switch {
            @include switch;
        }

        .row {
            margin-bottom: $spacing;
            &:last-child{ margin-bottom: 0; }

            label:first-child {
                margin-right: $spacing*5;
            }

            .color entry {
                margin-right: $spacing;
                min-width: 20em;
            }

            entry.text {
                min-width: 22em;
            }

            .layout {
                @include widget;

                button {
                    @include button($flat: true);
                    border: none;
                    border-radius: 0;
                    padding: $spacing/2;
                    margin: -$border_width;

                    &:last-child {
                        border-radius: 0 $radii $radii 0;
                    }
                }
                label { margin: 0 $spacing/2; }
            }
        }
    }
}
