window#applauncher .applauncher{
    @include floating_widget;

    .header {
        margin: $popover_padding;
        margin-bottom: $popover_padding/2;

        image, entry {
            @include widget;
            padding: $spacing/2;
        }

        entry {
            padding-left: $spacing;
        }

        image {
            margin-right: $spacing;
            -gtk-icon-transform: scale(0.8);
            font-size: $font-size * 1.6;
        }
    }

    .separator {
        min-height: 1px;
        background-color: $hover;
        margin: $spacing/2;
    }

    scrolledwindow {
        @include scrollbar;
        padding: $popover_padding;
        min-width: 500px;
        min-height: 350px;
    }

    .placeholder {
        margin-top: $spacing;
        color: $fg_color;
        font-size: 1.2em;
    }

    .app {
        all: unset;
        transition: $transition;
        padding: $spacing;

        label {
            transition: $transition;

            &.title {
                color: $fg_color;
            }

            &.description {
                color: transparentize($fg_color, 0.3);
            }
        }

        image {
            transition: $transition;
            margin-right: $spacing;
        }

        &:hover, &:focus {
            .title {
                color: $accent;
            }

            image {
                -gtk-icon-shadow: 2px 2px $accent;
            }
        }

        &:active {
            background-color: transparentize($accent, 0.5);
            border-radius: $radii;
            box-shadow: inset 0 0 0 $border_width $border_color;

            .title {
                color: $fg_color;
            }
        }
    }
}
