$float: $spacing * 0.7;

@mixin panel_button($flat: false, $reactive: true){
    all: unset;

    @if $bar_style == 'separated' {
        transition: $transition;

        > * {
            @include floating_widget;
            border-radius: $radii;
            margin: $wm_gaps $float;
            transition: $transition;
        }

        &:hover > * {
            color: $hover_fg;

            @if $drop_shadow {
                box-shadow: 0 0 min(6px, $spacing/2) 0 $shadow,
                    inset 0 0 0 99px $hover;
            } @else {
                box-shadow: inset 0 0 0 99px $hover;
            }
        }

        &:active > *, &.active > * {
            label, image { color: $accent_fg; }
            background-image: $active_gradient;
            background-color: $accent;
        }
    } @else {
        @include accs_button($flat, $reactive);
        > * { margin: $float; }
    }

    label {
        font-weight: bold;
    }

    image {
        font-size: $font-size * 1.2;
    }

    > * {
        padding: .3em .5em;
    }
}

.panel {
    @if $bar_style == 'normal' {
        background-color: $bg_color;
    }

    @if not $screen_corners and $bar_style == 'normal' {
        @if $layout == 'bottombar' {
            border-top: $border;
        } @else {
            border-bottom: $border;
        }
    }

    @if $bar_style == 'floating' {
        @include floating_widget;
        margin: $wm_gaps;
        padding: 0;
    }

    @if $bar_style == 'separated' {
        > .end > button:last-child > * {
            margin-right: $wm_gaps;
        }

        > .start > button:first-child > * {
            margin-left: $wm_gaps;
        }
    }

    .panel-button {
        @include panel_button($flat: true);
    }

    separator {
        background-color: transparentize($fg_color, 0.98);
        border-radius: $radii;
        min-height: 5px;
        min-width: 5px;
    }

    .quicksettings > box > * {
        margin: 0 $spacing/2;
        &:last-child { margin-right: 0; }
        &:first-child { margin-left: 0; }
    }

    .overview {
        label { color: transparentize($accent, 0.2); }
        &:hover label { color: $accent; }
        &:active label, &.active label { color: $accent_fg; }
    }

    .powermenu, .recorder {
        image { color: transparentize($red, 0.3); }
        &:hover image { color: transparentize($red, 0.15); }
        &:active image { color: $red; }
    }

    /* stylelint-disable-next-line selector-not-notation */
    .quicksettings:not(.active):not(:active) {
        .bluetooth { color: $blue; }

        .battery {
            &.low { color: $red; }
            &.charged, &.charging { color: $green; }
        }
    }

    .media {
        &.spotify image { color: $green; }
        &.firefox image { color: $orange; }
        &.mpv image { color: $magenta; }
    }

    .notifications {
        image { color: $yellow; }
    }

    .battery-bar {
        image { margin-right: $spacing/2; }
        .font-icon { font-size: 1.3em; }

        levelbar trough {
            @include widget;
            min-width: 60px;
            min-height: 14px;

            block.filled {
                border-radius: max($radii - $border_width, 0);
                background-image: $active_gradient;
            }
        }

        @mixin color($color) {
            image, label { color: $color }

            block.filled {
                background-image: linear-gradient(to right, $color, lighten($color, 6%));
            }
        }

        .medium { @include color($yellow) }
        .low { @include color($red) }
        .charging { @include color($green) }
        &:active { @include color($accent_fg) }
    }

    .workspaces {
        > * { padding: 0; }

        .eventbox {
            transition: $transition;

            @if $bar_style == 'separated' {
                border-radius: max($radii - $border_width, 0);
                &:hover { background-color: $hover; }
            } @else {
                @include button($flat: true);
            }
        }

        button {
            all: unset;

            .indicator {
                font-size: 0;
                min-width: 6px;
                min-height: 6px;
                border-radius: $radii*0.6;
                border: $border;
                margin: 0 $spacing/2;
                transition: $transition/2;
                background-color: transparentize($fg_color, 0.8);
            }

            &:last-child .indicator { margin-right: $spacing; }
            &:first-child .indicator { margin-left: $spacing; }

            &.occupied .indicator {
                background-color: transparentize($fg_color, 0.2);
                min-width: 8px;
                min-height: 8px;
            }

            &:hover .indicator {
                box-shadow: inset 0 0 0 10px transparentize($fg_color, 0.8);
            }

            &.active .indicator, &:active .indicator {
                background-color: $accent;
            }

            &.active .indicator {
                min-width: 24px;
                min-height: 12px;
            }
        }
    }
}
