@mixin notification() {
    &.critical > box {
        box-shadow: inset 0 0 .5em 0 $red;
    }

    > box {
        border-radius: $radii/2;
        padding: $spacing;
    }

    &:hover {
        .close-button{
            @include button_hover;
            background-color: transparentize($red, .5);
        }
    }

    .content {
        .title {
            margin-right: $spacing;
            color: $fg_color;
            font-size: 1.1em;
        }

        .time {
            color: transparentize($fg_color, .2);
        }

        .description {
            font-size: .9em;
            color: transparentize($fg_color, .2);
        }

        .icon {
            border-radius: $radii*0.8;
            margin-right: $spacing;

            &.img {
                border: $border;
            }
        }
    }

    .actions {
        padding-top: $spacing;

        button {
            @include button;
            border-radius: $radii*0.8;
            font-size: 1.2em;
            padding: $spacing/2 0;
            margin: 0 $spacing/2 0;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    button.close-button {
        @include button($flat: true);
        margin-left: $spacing;
        border-radius: $radii*0.8;
        min-width: 1.2em;
        min-height: 1.2em;

        &:hover {
            background-color: transparentize($red, .5);
        }

        &:active {
            background-image: linear-gradient($red, $red);
        }
    }
}

.notifications-popup-list{
    .notification {
        @include notification;

        > box {
            @include floating_widget;
            border-radius: $radii;
        }

        .description {
            min-width: 350px;
        }
    }
}
