window.indicator .progress {
    @include floating-widget;
    padding: $padding / 2;
    border-radius: if($radii == 0, 0, $radii + $padding / 2);

    .fill {
        border-radius: $radii;
        background-color: $accent;
        color: $accent-fg;

        image {
            -gtk-icon-transform: scale(0.7);
        }

        .font-icon {
            font-size: 34px;
        }
    }
}
