window#overview .window-content {
    @include floating-widget;
    @include spacing;

    .workspace {
        &.active > widget {
            border-color: $accent
        }

        > widget {
            @include widget;
            border-radius: if($radii == 0, 0, $radii + $padding);

            &:drop(active) {
                border-color: $accent;
            }
        }
    }

    .client {
        @include button;
        border-radius: $radii;
        margin: $padding;

        &.hidden {
            @include hidden;
            transition: 0;
        }
    }
}
