window#powermenu, window#verification {
    .shader {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

window#verification .window-content {
    @include floating-widget;
    min-width: 300px;
    min-height: 100px;

    .text-box {
        .title {
            font-size: 1.6em;
        }

        .desc {
            color: transparentize($fg-color, 0.1);
            font-size: 1.1em;
        }
    }

    .buttons {
        @include spacing;
        margin-top: $padding;

        button {
            @include button;
            font-size: 1.5em;
            padding: $padding;
        }
    }
}

window#powermenu .window-content {
    @include floating-widget;
    @include spacing(2);
    padding: $popover-padding + $spacing * 1.5;
    border-radius: if($radii == 0, 0, $popover-radius + ($popover-padding + $spacing * 1.5));

    button {
        @include unset;

        image {
            @include button;
            border-radius: $popover-radius;
            min-width: 1.7em;
            min-height: 1.7em;
            font-size: 4em;
        }

        label, image {
            color: transparentize($fg-color, 0.1);
        }

        &:hover {
            image{ @include button-hover; }
            label{ color: $fg-color; }
        }
        &:focus image { @include button-focus; }
        &:active image { @include button-active; }

        &:focus, &:active {
            label{ color: $accent; }
        }
    }
}
