window#powermenu, window#verification {
    .shader {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

window#verification .verification {
    @include floating-widget;
    min-width: 300px;
    min-height: 100px;

    .text-box {
        padding: $padding;

        .title {
            font-size: 1.6em;
        }

        .desc {
            color: transparentize($fg-color, 0.1);
            font-size: 1.1em;
        }
    }

    .buttons {
        button {
            @include button;
            font-size: 1.5em;
            padding: $padding;
        }
    }
}

window#powermenu .powermenu {
    @include floating-widget;

    button {
        @include unset;

        image {
            @include button;
            border-radius: $radii*2;
            min-width: 120px;
            min-height: 120px;
            font-size: 68px;
        }

        label, image {
            color: transparentize($fg-color, 0.1);
        }

        &:hover {
            image{ @include button-hover; }
            label{ color: $fg-color; }
        }
        &:focus image { @include button-focus; }
        &:active image { @include button-active; }

        &:focus, &:active {
            label{ color: $accent; }
        }
    }
}
