window#quicksettings .quicksettings {
    @include floating-widget;

    .row {
        background-color: red;
    }
    .avatar {
        @include widget;
        min-width: $padding*7 + 38px;
    }

    .battery-progress {
        label {
            color: $accent-fg;
            font-size: $padding*2;
            font-weight: bold;
        }

        &.half label { color: $fg-color; }

        progressbar {
            @include slider($width: $padding*3.6);
        }

        &.low progressbar {
            @include slider($width: $padding*3.6, $gradient: linear-gradient(to right, $red, $red));
        }
    }

    .system-box {
        @include widget;
        padding: $padding;

        button, .uptime {
            @include button;
            padding: $padding;
            font-weight: bold;
            min-height: 20px;
            min-width: 20px;

            image {
                font-size: 1.2em;
            }
        }
    }

    .sliders-box {
        @include widget;
        padding: $padding;

        button {
            @include button($flat: true);
            padding: $padding / 2;
        }

        scale {
            @include slider;
        }

        .menu {
            margin: $spacing / 2 0;
            margin-top: $spacing;
            background-color: $bg-color;
            border: $border-width solid $popover-border-color;
            border-radius: $radii;
        }
    }

    .mixer-item {
        scale { @include slider($width: 7px); }
        image { font-size: 1.2em; }
    }

    .menu {
        @include widget;
        padding: $padding;
        margin-top: $spacing;

        .title *:first-child {
            margin: 0 $spacing 0 $spacing / 2;
        }

        separator {
            background-color: $border-color;
        }

        button {
            @include button($flat: true);
            padding: $padding / 2;
        }

        switch {
            @include switch;
        }
    }

    .toggle-button {
        @include button;
        font-weight: bold;

        button {
            @include button($flat: true);
            padding: $padding;

            &:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        &.active {
            background-color: $accent;

            label, image {
                color: $accent-fg;
            }
        }
    }

    .simple-toggle {
        @include button;
        padding: $spacing;
    }

    .media .player {
        @include media;
    }
}
