window#settings {
    background-color: $bg_color;
    color: $fg_color;

    scrolledwindow {
        @include scrollbar;
    }

    .settings {
        .content {
            padding: $popover_padding;
        }

        .headerbar {
            background-color: $widget_bg;
            padding: $spacing/2;
            border-bottom: $border;
        }

        .tab {
            @include button($flat: true);
            margin: $spacing/2;
            padding: $spacing/2;
        }

        .wallpaper {
            border-radius: max($radii - 1px, 0);
            background-position: center;
            border: $border
        }

        button, entry {
            @include button;
            padding: $spacing*0.7;
        }

        spinbutton, spinbutton:focus {
            @include button;

            button, entry {
                all: unset;
                padding: $spacing*0.7;

                &:last-child {
                    border-radius: 0 $radii $radii 0;
                }

                &:first-child {
                    border-top: none;
                    border-bottom: none;
                }
            }
        }

        switch {
            @include switch;
        }

        .row {
            margin-bottom: $spacing;
            &:last-child{ margin-bottom: 0; }

            label:first-child {
                margin-right: $spacing*5;
            }

            .color entry {
                margin-right: $spacing;
                min-width: 20em;
            }

            entry.text {
                min-width: 22em;
            }

            .text-spin {
                @include widget;

                button {
                    @include button($flat: true);
                    border-radius: 0;
                    padding: $spacing/2;
                    margin: -$border_width;

                    &:last-child {
                        border-radius: 0 $radii $radii 0;
                    }
                }
                label { margin: 0 $spacing/2; }
            }

            label, entry {
                font-size: $font_size;
            }
        }
        
        .disclaimer {
            padding: $spacing;
            padding-top: 0;
            color: transparentize($fg_color, 0.5);
        }
    }
}
