window {
    background-color: transparent;
}

@mixin common{
    all: unset;

    * {
        font-size: $font_size;
        font-family: $font, sans-serif;
    }
}

@mixin widget{
    @include common;
    border-radius: $radii;
    color: $fg_color;
    background-color: $widget_bg;
    border: $border;
}

@mixin button_focus() {
    box-shadow: inset 0 0 0 $border_width $accent;
    background-color: $hover;
    color: $hover_fg;
}

@mixin button_hover() {
    box-shadow: inset 0 0 0 $border_width $border_color;
    background-color: $hover;
    color: $hover_fg;
}

@mixin button_active() {
    box-shadow: inset 0 0 0 $border_width $border_color;
    background-image: $active_gradient;
    background-color: $accent;
    color: $accent_fg;
}

@mixin button_disabled() {
    box-shadow: none;
    background-color: transparent;
    color: transparentize($fg_color, 0.7);
}

@mixin button($flat: false, $reactive: true, $radii: $radii, $focusable: true){
    @include common;
    transition: $transition;
    border-radius: $radii;
    color: $fg_color;

    @if $flat{
        background-color: transparent;
        background-image: none;
        box-shadow: none;
    } @else{
        background-color: $widget_bg;
        box-shadow: inset 0 0 0 $border_width $border_color;
    }

    @if $reactive{
        @if $focusable {
            &:focus{
                @include button_focus;
            }
        }

        &:hover{
            @include button_hover;
        }

        &:active, &.on, &.active, &:checked {
            @include button_active;

            &:hover {
                box-shadow: inset 0 0 0 $border_width $border_color,
                            inset 0 0 0 99px $hover;
            }
        }
    }

    &:disabled {
        @include button_disabled;
    }
}

@mixin accs_button($flat: false, $reactive: true){
    @include button($flat: true, $reactive: false, $focusable: false);
    color: $fg_color;

    > * {
        border-radius: $radii;
        transition: $transition;

        @if $flat{
            background-color: transparent;
            box-shadow: none;
        } @else{
            background-color: $widget_bg;
            box-shadow: inset 0 0 0 $border_width $border_color;
        }
    }


    @if $reactive{
        &:focus > *, &.focused > * {
            @include button_focus;
        }

        &:hover > * {
            @include button_hover;
        }

        &:active, &.active, &.on, &:checked {
            > * {
                @include button_active;
            }

            &:hover > * {
                box-shadow: inset 0 0 0 $border_width $border_color,
                            inset 0 0 0 99px $hover;
            }
        }
    }
}

@mixin floating_widget {
    @include common;

    @if $drop_shadow {
        box-shadow: 0 0 min(6px, $spacing/2) 0 $shadow;
    }
    margin: max($spacing, 8px);
    border: $border_width solid $popover_border_color;
    border-radius: $popover_radius;
    background-color: $bg_color;
    color: $fg_color;
    padding: $popover_padding;
}

@mixin slider($width: .7em, $slider_width: .5em, $gradient: $active_gradient, $slider: true, $focusable: true, $radii: $radii){
    @include common;
    * { all:unset; }

    trough{
        transition: $transition;
        border-radius: $radii;
        border: $border;
        background-color: $widget_bg;
        min-height: $width;
        min-width:  $width;

        highlight, progress{
            border-radius: max($radii - $border_width, 0);
            background-image: $gradient;
            min-height: $width;
            min-width:  $width;
        }
    }

    slider {
        box-shadow: none;
        background-color: transparent;
        border: $border_width solid transparent;
        transition: $transition;
        border-radius: $radii;
        min-height: $width;
        min-width:  $width;
        margin: -$slider_width;
    }

    &:hover {
        trough {
            background-color: $hover;
        }

        slider {
            @if $slider{
                background-color: $fg_color;
                border-color: $border-color;

                @if $drop_shadow {
                    box-shadow: 0 0 3px 0 $shadow;
                }
            }
        }
    }

    &:disabled {
        highlight, progress{
            background-color: transparentize($fg_color, 0.4);
            background-image: none;
        }
    }

    @if $focusable {
        trough:focus{
            background-color: $hover;
            box-shadow: inset 0 0 0 $border_width $accent;

            slider {
                @if $slider {
                    background-color: $fg_color;
                    box-shadow: inset 0 0 0 $border_width $accent;
                }
            }
        }

    }
}

@mixin shader($width: 3em){
    @include common;
    border-radius: max($radii - $border_width, 0);

    label {
        color: $shader_fg;
        text-shadow: $text_shadow;
    }

    @if $theme == 'dark' {
        box-shadow: inset 0 0 $width $width/3 transparentize($bg_color, 0.3);
    }

    @if $theme == 'light' {
        background-color: transparentize($bg_color, 0.8);
    }
}

@mixin text_border{
    text-shadow:
        -1 * $border_width -1 * $border_width 0 $border_color,
        $border_width $border_width 0 $border_color,
        -1 * $border_width $border_width 0 $border_color,
        $border_width -1 * $border_width 0 $border_color;

    -gtk-icon-shadow:
        -1 * $border_width -1 * $border_width 0 $border_color,
        $border_width $border_width 0 $border_color,
        -1 * $border_width $border_width 0 $border_color,
        $border_width -1 * $border_width 0 $border_color;
}

@mixin scrollbar{
    scrollbar, scrollbar * {
        all: unset;
    }

    scrollbar.vertical {
        transition: $transition;
        background-color: transparentize($bg_color, 0.7);

        &:hover {
            background-color: transparentize($bg_color, 0.3);

            slider {
                background-color: transparentize($fg_color, 0.3);
                min-width: .6em;
            }
        }
    }


    scrollbar.vertical slider {
        background-color: transparentize($fg_color, 0.5);
        border-radius: $radii;
        min-width: .4em;
        min-height: 2em;
        transition: $transition;
    }
}

@mixin switch{
    @include button;

    slider {
        background-color: $fg_color;
        border-radius: $radii;
        min-width: 24px;
        min-height: 24px;
    }

    image { color: transparent; }
}

@mixin hidden {
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    box-shadow: none;
    -gtk-icon-transform: scale(0);

    * {
        background-color: transparent;
        background-image: none;
        border-color: transparent;
        box-shadow: none;
        -gtk-icon-transform: scale(0);
    }
}

tooltip {
    @include common;
    * { all: unset; }

    background-color: transparent;
    border: none;

    > * > *{
        background-color: $bg_color;
        border-radius: $radii;
        border: $border_width solid $popover_border_color;
        color: $fg_color;
        padding: 8px;
        margin: 4px;
        box-shadow: 0 0 3px 0 $shadow;
    }
}

window.popup {
    > * {
        border: none;
        box-shadow: none;
    }

    menu {
        border-radius: $popover_radius;
        background-color: $bg_color;
        padding: $spacing;
        border: $border;

        separator {
            background-color: $border_color;
        }

        menuitem {
            @include button;
            padding: $spacing/2;
            margin: $spacing/2 0;
            &:first-child { margin-top: 0; }
            &:last-child { margin-bottom: 0; }
        }
    }
}
