/* Looking Glass */

// Dialog
#LookingGlassDialog {
  background-color: transparentize($bg_color,0.05);
  border-radius: 0 0 $modal_radius $modal_radius;
  border: 1px solid $outer_borders_color;
  border-top-width: 0;
  color: $fg_color;
  padding: $base_padding;
  spacing: $base_padding;
  box-shadow: 0 2px 4px 0 $shadow_color;

  @if $is_highcontrast {
    border: 2px solid $hc_inset_color;
    background-color: $bg_color;
    border-top-width: 0;
    box-shadow:none;
  }

  & > #Toolbar {
    border: none;
    padding: $base_padding;
    border-radius: 0;
    background-color: transparent;
    spacing: $base_padding;

    .lg-toolbar-button {
      padding: $base_padding $base_padding*2;
      @extend %button;

      & > StIcon { icon-size: $base_icon_size; }
    }
  }

  .labels { 
    spacing: $base_padding;
  }

  .notebook-tab {
    -natural-hpadding: $base_padding*2;
    -minimum-hpadding: $base_padding*2;
    @extend %button;
    padding: $base_padding $base_padding*2;
  }

  StBoxLayout#EvalBox { padding: 4px; spacing: $base_padding; padding: $base_padding; }
  StBoxLayout#ResultsArea { spacing: $base_padding; padding: $base_padding; }
}

.lg-dialog {

  StEntry {
    min-height: 22px;
    @extend %entry;
  }

  .shell-link {
    color: $link_color;
    &:hover { color: lighten($link_color, 10%); }
    &:active { color: darken($link_color, 10%); }
   }

  .actor-link {
    color: $insensitive_fg_color;
    &:hover { color: lighten($insensitive_fg_color, 20%); }
    &:active { color: darken($insensitive_fg_color, 20%); }

    & StIcon { icon-size: 12px; }
   }
}

.lg-completions-text {
  @extend %caption;
  font-style: italic;
}

.lg-obj-inspector-title {
  spacing: $base_padding;
}

.lg-obj-inspector-button {
  border: 1px solid $borders_color;
  padding: 4px;
  border-radius: $base_border_radius;
  &:hover { border: 1px solid $fg_color; }
}

// Extensions
#lookingGlassExtensions { padding: $base_padding; }

.lg-extensions-list {
  padding: $base_padding;
  spacing: $base_padding;
}

.lg-extension {
  padding: $base_padding*2;
  @include card;
}

.lg-extension-name {
  @extend %heading;
}

.lg-extension-meta {
  spacing: $base_padding;
}

// Inspector
#LookingGlassPropertyInspector {
  background: $bg_color;
  border: 1px solid $borders_color;
  border-radius: $base_border_radius;
  padding: $base_padding;
}

.lg-debug-flag-button {
  StLabel { padding: $base_padding, 2 * $base_padding; }

  color: $fg_color;
  &:hover { color: lighten($fg_color, 20%); }
  &:active { color: darken($fg_color, 20%); }
}

.lg-debug-flags-header {
  padding-top: 2 * $base_padding;
  padding: $base_padding;
  @extend %title_2;
}
