$variant: 'dark'; //light ivory, dark smooth

@import "gnome-shell-sass/_colors"; //use gtk colors
@import "gnome-shell-sass/_drawing";
@import "gnome-shell-sass/_common";
@import "gnome-shell-sass/_widgets";

$padding: 8px;
//for my extension
.level-bar{
    background-color: if($variant == 'light', transparentize($selected_bg_color, 0.8), transparentize($fg_color, 0.8)) !important;
}
.battery-bar{
    padding:  1px;

}

//https://extensions.gnome.org/extension/5514/floating-panel/
#panel:floating{ background-color: transparent; }
#panel:floating .panel-button{
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2) !important;
}
#panel .panel-button{
    background-color: $panel_bg_color !important;
    border: $border-width solid transparent !important;
    box-shadow: none;
    margin-top: $padding;
    margin-bottom: $padding;
}

#panel .panel-button:hover{
    background-color: if($variant == 'light', mix($panel_bg_color, $selected_bg_color, 50%), lighten($panel_bg_color, 10%)) !important;
    border-color: $border-color !important;
}

#panel .panel-button:active{
    background-color: $selected_bg_color !important;
    border-color: $border-color !important;
}

#panel .clock{
    background-color: transparent !important;
    border: none !important;
}
#panel{ padding: $padding; background-color: $panel_bg_color; }

#panelLeft .panel-button{ margin-right: $padding; }
#panelRight .panel-button{ margin-left: $padding; }
#panelLeft, #panelRight,
#panelCenter .panel-button{ margin-left: $padding; margin-right: $padding; }