.desktop{
    background-image: url($wallpaper);
    background-size: cover;
    .clock{
        color: white;
        text-shadow: 4px 4px 4px black;
        .hour, .minutes, .separator{
            font-size: 10em;
            font-family: $mono_font;
        }
        .date{ font-size: 2em; }
    }
}