* {
  all: unset;
  font-size: 14px;
  font-family: 'Ubuntu Nerd Font';
  transition: 200ms; }

.floating-notifications.background .notification-row .notification-background {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px rgba(255, 255, 255, 0.02);
  border-radius: 12.6px;
  margin: 18px;
  background-color: #fff;
  color: #1f1f1f;
  padding: 0; }
  .floating-notifications.background .notification-row .notification-background .notification {
    padding: 7px;
    border-radius: 12.6px; }
    .floating-notifications.background .notification-row .notification-background .notification.critical {
      box-shadow: inset 0 0 7px 0 rgba(237, 51, 59, 0.3); }
    .floating-notifications.background .notification-row .notification-background .notification .notification-content {
      margin: 7px; }
      .floating-notifications.background .notification-row .notification-background .notification .notification-content .summary {
        color: #1f1f1f; }
      .floating-notifications.background .notification-row .notification-background .notification .notification-content .time {
        color: rgba(31, 31, 31, 0.6); }
      .floating-notifications.background .notification-row .notification-background .notification .notification-content .body {
        color: rgba(31, 31, 31, 0.7); }
    .floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
      min-height: 3.4em; }
      .floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
        border-radius: 7px;
        color: #1f1f1f;
        background-color: rgba(31, 31, 31, 0.08);
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
        margin: 7px; }
        .floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
          box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
          background-color: rgba(31, 31, 31, 0.16);
          color: #1f1f1f; }
        .floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
          box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
          background-color: #3584e4;
          color: #1f1f1f; }
  .floating-notifications.background .notification-row .notification-background .close-button {
    margin: 7px;
    padding: 2px;
    border-radius: 6.3px;
    color: #1f1f1f;
    border: 1px solid rgba(255, 255, 255, 0.002);
    background-color: rgba(237, 51, 59, 0.5); }
    .floating-notifications.background .notification-row .notification-background .close-button:hover {
      background-color: rgba(237, 51, 59, 0.3);
      color: #1f1f1f; }
    .floating-notifications.background .notification-row .notification-background .close-button:active {
      background-color: #ed333b;
      color: #1f1f1f; }

.control-center {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px rgba(255, 255, 255, 0.02);
  border-radius: 12.6px;
  margin: 18px;
  background-color: #fff;
  color: #1f1f1f;
  padding: 14px; }
  .control-center .widget-title {
    color: #1f1f1f;
    font-size: 1.3em; }
    .control-center .widget-title button {
      border-radius: 7px;
      color: #1f1f1f;
      background-color: rgba(31, 31, 31, 0.08);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
      padding: 8px; }
      .control-center .widget-title button:hover {
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
        background-color: rgba(31, 31, 31, 0.16);
        color: #1f1f1f; }
      .control-center .widget-title button:active {
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
        background-color: #3584e4;
        color: #1f1f1f; }
  .control-center .notification-row .notification-background {
    border-radius: 7px;
    color: #1f1f1f;
    background-color: rgba(31, 31, 31, 0.08);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
    margin-top: 14px; }
    .control-center .notification-row .notification-background .notification {
      padding: 7px;
      border-radius: 7px; }
      .control-center .notification-row .notification-background .notification.critical {
        box-shadow: inset 0 0 7px 0 rgba(237, 51, 59, 0.3); }
      .control-center .notification-row .notification-background .notification .notification-content {
        margin: 7px; }
        .control-center .notification-row .notification-background .notification .notification-content .summary {
          color: #1f1f1f; }
        .control-center .notification-row .notification-background .notification .notification-content .time {
          color: rgba(31, 31, 31, 0.6); }
        .control-center .notification-row .notification-background .notification .notification-content .body {
          color: rgba(31, 31, 31, 0.7); }
      .control-center .notification-row .notification-background .notification > *:last-child > * {
        min-height: 3.4em; }
        .control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
          border-radius: 7px;
          color: #1f1f1f;
          background-color: rgba(31, 31, 31, 0.08);
          box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
          margin: 7px; }
          .control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
            background-color: rgba(31, 31, 31, 0.16);
            color: #1f1f1f; }
          .control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
            background-color: #3584e4;
            color: #1f1f1f; }
    .control-center .notification-row .notification-background .close-button {
      margin: 7px;
      padding: 2px;
      border-radius: 6.3px;
      color: #1f1f1f;
      border: 1px solid rgba(255, 255, 255, 0.002);
      background-color: rgba(237, 51, 59, 0.5); }
      .control-center .notification-row .notification-background .close-button:hover {
        background-color: rgba(237, 51, 59, 0.3);
        color: #1f1f1f; }
      .control-center .notification-row .notification-background .close-button:active {
        background-color: #ed333b;
        color: #1f1f1f; }
    .control-center .notification-row .notification-background:hover {
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
      background-color: rgba(31, 31, 31, 0.16);
      color: #1f1f1f; }
    .control-center .notification-row .notification-background:active {
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
      background-color: #3584e4;
      color: #1f1f1f; }
