//this file is only for compatibility
//actual colors > smooth.scss
$is-highcontrast: false;

$warning_color: $yellow;
$error_color: $red;
$success_color: $green;
$destructive_color: $red;

$outer_borders_color: $popover_border_color;
$osd_fg_color: $fg_color;
$osd_bg_color: $bg_color;
$osd_insensitive_fg_color: transparentize($fg_color, 0.4);
$osd_outer_borders_color: $popover_border_color;

// notifications
$bubble_buttons_color: $widget_bg;

// overview background color
$system_bg_color: $base_color;

//insensitive state derived colors
$insensitive_fg_color: mix($fg_color, $bg_color, 50%);
$insensitive_bg_color: mix($bg_color, $base_color, 60%);

// derived hover colors
$hover_bg_color: if($variant=='light', darken($bg_color, 3%), lighten($bg_color, 10%));
$hover_fg_color: if($variant=='light', darken($fg_color, 5%), lighten($fg_color, 10%));

// derived active colors
$active_bg_color: if($variant=='light', darken($bg_color, 5%), lighten($bg_color, 12%));
$active_fg_color: if($variant=='light', darken($fg_color, 5%), lighten($fg_color, 12%));

//seperators
$borders_color: transparentize($fg_color, 0.8);
$selected_borders_color: transparentize($selected_fg_color, 0.14);

//links
$link_color: if($variant == 'light', darken($selected_bg_color, 10%), lighten($selected_bg_color, 20%));
$link_visited_color: if($variant == 'light', darken($selected_bg_color, 20%), lighten($selected_bg_color, 10%));