/* Calendar */
.calendar {
  .calendar-month-header {
    .pager-button {
      @include button(normal, $flat: true);
      border-radius: $base_border_radius;
      &:hover {@include button(hover) }
      &:focus {@include button(focus) }
      &:active {@include button(active) }
    }
  }
  .calendar-day-base {
    @include button(flat);
    border-radius: $base_border_radius;
    &:hover { @include button(hover) }
    &:focus { @include button(focus) }
    &:active { @include button(active) }
  }
  // Today
  .calendar-today {
    @include button(checked);
    &:hover { @include button(hover) }
    &:focus { @include button(focus) }
    &:active,
    &:selected {
      @include button(active);
      &:hover { @include button(hover) }
      &:focus { @include button(focus) }
    }
  }
  .calendar-day-with-events {
    font-weight: 900 !important;
  }
}

/* Login Lock */
.login-dialog {
  background-image: $gdm_bg;
  background-size: cover;
  .login-dialog-prompt-layout {
    width: $_gdm_dialog_width;
    spacing: $base_padding*2;
    background-color: $bg_color;
    border: $border_width solid $popover_border_color;
    padding: $base_padding*4;
  }
  .login-dialog-user-list {
    &:expanded .login-dialog-user-list-item {
      &:selected {
        background-color: $selected_bg_color;
        * { color: $selected_fg_color !important; }
      }
    }
  }
  .login-dialog-prompt-layout {
    @extend %osd_panel;
    width: 26em;
    padding: 4em 4em 0 4em;
    .login-dialog-button-box { background-color: transparent !important; }
  }
  .login-dialog-button {
    &.login-dialog-session-list-button {
      @extend %osd_panel;
      &:hover {
        @include button(hover);
        background-color: if($variant =='light', darken($bg_color, 4%), lighten($bg_color, 4%));
      }
      &:active,
      &:checked,
      &:focus,
      &:selected {
        @include button(active);
      }
    }
  }
  .login-dialog-user-selection-box {
    @extend %osd_panel;
    padding: 28px 20px 20px 28px;
  }
}

/* Modal Dialog */
.modal-dialog,
.switcher-list {
  @extend %osd_panel;
  border-radius: $modal_radius !important;
}

/* Grid */
.app-well-app {
  @include overview_icon($osd_fg_color, $shadow: false);

  .overview-icon {
    margin: $base_margin;
  }
}

.icon-grid,
#searchResults {
  .app-well-app {
    @include overview_icon($osd_fg_color, $shadow: true);

    &.app-folder {
      @include overview_icon($fg_color, $flat: false, $shadow: true);
    }
  }
}
.app-folder-dialog {
  .app-well-app {
    @include overview_icon($osd_fg_color, $flat: true, $shadow: false);
  }
}
.search-section-content {
  background-color: $bg_color;
  box-shadow: $popover_shadow;
  border: $border_width solid $border_color;
}

/* Slider */
.slider,
.level {
  // slider trough
  height: 14px;
  -barlevel-height: 14px;
  -barlevel-background-color: $widget_bg;
  -barlevel-border-width: 0px;
  -barlevel-border-color: transparent;
  // fill style
  -barlevel-active-background-color: $selected_bg_color;
  -barlevel-active-border-color: transparent;
  // overfill style (red in this case)
  -barlevel-overdrive-color: $destructive_color;
  -barlevel-overdrive-border-color: transparent;
  -barlevel-overdrive-separator-width: 1px;
  // slider handler
  -slider-handle-radius: 6.8px;
  -slider-handle-border-width: 0;
  -slider-handle-border-color: transparent;
}

/* Workspace Thumbnail */
.workspace-thumbnails {
  .workspace-thumbnail {
    border-radius: $base_border_radius - min(1px, $base_border_radius);
    border: 1px solid transparent;
    background-image: $user_bg;
    background-size: cover;
  }
}
.workspace-thumbnail-indicator {
  border: 3px solid $selected_bg_color;
  border-radius: $base_border_radius + min(1px, $base_border_radius);
}

/* Workspace Switcher */
.ws-switcher-indicator {
  background-color: $osd_fg_color;
  padding: .6em;
  margin: .2em + .4em;
  border-radius: $base_border_radius*2;
  &:active {
    background-color: $selected_bg_color;
    padding: .8em;
    margin: .4em;
  }
}

/* Popovers */
.popup-menu-content,
.quick-settings {
  padding: $base_padding;
  background-color: $bg_color;
  border-radius: $modal_radius*1.25;
  border: $border_width solid $popover_border_color;
  box-shadow: $popover_shadow;
}

/* Quick Settings */
.quick-settings { padding: $base_padding*2; }
.quick-toggle,
.quick-menu-toggle {
  border-radius: $button_radius;
  .quick-toggle-icon { icon-size: $base_icon_size*1.4; }
}
.quick-menu-toggle {
  & .quick-toggle {
    &:ltr { border-radius: $button_radius 0 0 $button_radius; }
    &:rtl { border-radius: 0 $button_radius $button_radius 0; }
    &:ltr:last-child { border-radius: $button_radius; }
    &:rtl:last-child { border-radius: $button_radius; }
  }
  & .quick-toggle-arrow {
    &:ltr { border-radius: 0 $button_radius $button_radius 0; }
    &:rtl { border-radius: $button_radius 0 0 $button_radius; }
  }
}
.quick-toggle-menu {
  background-color: $bg_color;
  border-radius: $button_radius;
}
.icon-button {
  border-radius: $base_border_radius*2;
}


/* Search Entry */
.search-entry {
  border-radius: $button_radius;
}

/* Notifications */
.notification-banner {
  background-color: $bg_color !important;
  box-shadow: $popover_shadow !important;
  border: $border_width solid $border_color !important;
  &:hover { background-color: mix($fg_color, $bg_color, 1%) !important }
  &:active {
    background-color: mix($fg_color, $bg_color, 2%) !important;
    color: $fg_color;
  }
}

/* Dash */
.dash-background {
  background-color: $bg_color;
  box-shadow: $popover_shadow;
  border: $border_width solid $border_color;
  border-radius: $base_border_radius*3;
}
.dash-item-container {
  .show-apps,
  .app-well-app {
    @include overview_icon($fg_color, $flat: true, $shadow: false);
    .overview-icon { margin: 0; }
  }
}

/* Close Buttons */
.window-close,
.message .message-close-button {
  background-color: transparentize($red, 0.6);
  border-radius: $base_border_radius*2;
  &:hover { background-color: transparentize($red, 0.4) }
  &:active { background-color: transparentize($red, 0.2) }
}

/* Media Controls */
.message-media-control {
  &:hover { @include button(hover) }
  &:active { @include button(active) }
  &:insensitive { color: lighten($insensitive_fg_color, 5%); }
}

//Aylur's Widgets
.level-bar { background-color: $widget_bg !important }
.usage-level {
  &:red .level-fill { background-color: $red; }
  &:green .level-fill { background-color: $green; }
}

.stylish-osd .level-bar { background-color: transparent !important; }

.media-cover {
  text-shadow: $text_shadow;
  StIcon { icon-shadow: $text_shadow; }
  .no-fade {
    border: $base_border_radius solid transparentize($bg_color, 0.4);
    box-shadow: inset 0 0 0 300px transparentize($bg_color, 0.4);
  }
}
