* { all: unset; }

@import "./../eww/scss/colors.scss";
@import "./../eww/scss/variables.scss";
@import "./../eww/scss/common.scss";

.background{ background-color: rgba(0,0,0,0.5); }

#window-box{
    @include floating_widget;
    padding: 50px;
    #clock-label{
        font-size: 6em;
        text-shadow: $text_shadow;
    }
    #unlock-button{
        @include button;
        padding: 6px 12px;
    }
    #input-field{
        @include button;
        box-shadow: none;
        min-height: 32px;
        padding-left: 0.4em;
        border: $border;
        &:focus{ border-color: $accent; }
    }
    #warning-label{ color: $yellow; }
    #error-label{ color: $red; }
}