@import './button';

@mixin accs-button($flat: false, $reactive: true){
    @include button($flat: true, $reactive: false, $focusable: false);
    color: $fg-color;

    > * {
        border-radius: $radii;
        transition: $transition;

        @if $flat{
            background-color: transparent;
            box-shadow: none;
        } @else{
            background-color: $widget-bg;
            box-shadow: inset 0 0 0 $border-width $border-color;
        }
    }


    @if $reactive{
        &:focus > *, &.focused > * {
            @include button-focus;
        }

        &:hover > * {
            @include button-hover;
        }

        &:active, &.active, &.on, &:checked {
            > * {
                @include button-active;
            }

            &:hover > * {
                box-shadow: inset 0 0 0 $border-width $border-color,
                            inset 0 0 0 99px $hover;
            }
        }
    }
}

