@mixin floating-widget {
    @if $drop-shadow {
        box-shadow: 0 0 5px 0 $shadow;
    }

    margin: max($spacing, 8px);
    border: $border-width solid $popover-border-color;
    background-color: $bg-color;
    color: $fg-color;
    border-radius: $popover-radius;
    padding: $popover-padding;
}
