@mixin shader($width: 3em){
    border-radius: max($radii - $border-width, 0);

    label {
        color: $shader-fg;
        text-shadow: $text-shadow;
    }

    @if $color-scheme == 'dark' {
        box-shadow: inset 0 0 $width $width/3 transparentize($bg-color, 0.3);
    }

    @if $color-scheme == 'light' {
        background-color: transparentize($bg-color, 0.8);
    }
}

