@import './button';

@mixin switch {
    @include button;

    slider {
        background-color: $accent-fg;
        border-radius: $radii;
        min-width: 24px;
        min-height: 24px;
    }

    image { color: transparent; }
}
