tooltip {
    * { all: unset; }

    background-color: transparent;
    border: none;

    > * > *{
        background-color: $bg-color;
        border-radius: $radii;
        border: $border-width solid $popover-border-color;
        color: $fg-color;
        padding: 8px;
        margin: 4px;
        box-shadow: 0 0 3px 0 $shadow;
    }
}

