* {
  all: unset; }

.background {
  background-color: rgba(0, 0, 0, 0.5); }

#window-box {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px rgba(255, 255, 255, 0.02);
  border-radius: 12.6px;
  margin: 18px;
  background-color: #181818;
  color: #eee;
  padding: 14px;
  padding: 50px; }
  #window-box #clock-label {
    font-size: 6em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }
  #window-box #unlock-button {
    border-radius: 7px;
    color: #eee;
    background-color: rgba(238, 238, 238, 0.08);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
    padding: 6px 12px; }
    #window-box #unlock-button:hover {
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
      background-color: rgba(238, 238, 238, 0.16);
      color: #eee; }
    #window-box #unlock-button:active {
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
      background-color: #62a0ea;
      color: #181818; }
  #window-box #input-field {
    border-radius: 7px;
    color: #eee;
    background-color: rgba(238, 238, 238, 0.08);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
    box-shadow: none;
    min-height: 32px;
    padding-left: 0.4em;
    border: 1px solid rgba(255, 255, 255, 0.002); }
    #window-box #input-field:hover {
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
      background-color: rgba(238, 238, 238, 0.16);
      color: #eee; }
    #window-box #input-field:active {
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.002);
      background-color: #62a0ea;
      color: #181818; }
    #window-box #input-field:focus {
      border-color: #62a0ea; }
  #window-box #warning-label {
    color: #f6d32d; }
  #window-box #error-label {
    color: #f66151; }
