@import "../style/mixins/floating-widget.scss";
@import "../style/mixins/widget.scss";
@import "../style/mixins/spacing.scss";
@import "../style/mixins/unset.scss";
@import "../style/mixins/a11y-button.scss";
@import "../widget/bar/bar.scss";

window#greeter {
    background-color: lighten($bg, 6%);
    color: $fg;

    .bar {
        background-color: transparent;

        .date {
            @include unset($rec: true);
            @include panel-button($flat: true, $reactive: false);
        }
    }

    .auth {
        @include floating_widget;
        border-radius: $radius;
        min-width: 400px;
        padding: 0;

        .wallpaper {
            min-height: 220px;
            background-size: cover;
            border-top-left-radius: $radius;
            border-top-right-radius: $radius;
        }

        .wallpaper-contrast {
            min-height: 100px;
        }

        .avatar {
            border-radius: 99px;
            min-width: 140px;
            min-height: 140px;
            background-size: cover;
            box-shadow: 3px 3px 6px 0 $shadow-color;
            margin-bottom: $spacing;
        }


        .password {
            entry {
                @include button;
                padding: $padding*.7 $padding;
                margin-left: $spacing*.5;
            }

            margin: 0 $padding*4;
            margin-top: $spacing;
        }

        .response-box {
            color: $error-bg;
            margin: $spacing 0;
        }
    }
}
