$variant: 'light';

$border-width: 2px;
$border-color: rgba(0,0,0,0.8);
%border { border: $border-width solid transparent; }
%border-colored{
  border: $border-width solid $border-color;
}

$base_color: #ffd7ef;
$bg_color: #fff0f9;
$fg_color: black;

$panel_bg_color: $bg_color;
$panel_fg_color: transparentize($fg_color, 0.1);

$selected_fg_color: #fff;
$selected_bg_color: #3584e4;

$warning_color: #f8e45c;
$error_color: #e01b24;
$success_color: #57e389;

@import "gnome-shell-sass/_colors";
@import "gnome-shell-sass/_drawing";
@import "gnome-shell-sass/_common";
@import "gnome-shell-sass/_widgets";