@mixin weather{
    .info{
        .place{ 
            label{ font-size: 1.2em }
            .icon{
                font-size: .9em;
                margin-right: .2em;
                color: transparentize($accent, 0);
            }
        }
        .feels{ color: transparentize($fg_color, 0.3); }
        .temp{ font-size: 1.2em; }
    }
    .icon{
        font-size: 2.6em;

        &.clear.d{ color: transparentize($yellow, 0.6); }
        &.clear.n{ color: transparentize($blue, 0.6); }

        &.clouds.d{ color: transparentize($fg_color, 0.6); }
        &.clouds.n{ color: transparentize($blue, 0.6); }

        &.rain{ color: transparentize($blue, 0.6); }
        &.thunderstorm{ color: transparentize($yellow, 0.6); }
        &.snow{ color: transparentize($fg_color, 0.6); }
        &.mist{ color: transparentize($teal, 0.6); }
    }

}
