$variant: 'dark';
$gdm_bg: url('/home/demeter/.config/gdm.jpg');
$user_bg: url('/home/demeter/.config/background');

@import "gnome-shell-sass/_options";
@import "gnome-shell-sass/_colors";
@import "gnome-shell-sass/_drawing";
@import "gnome-shell-sass/_common";
@import "gnome-shell-sass/_widgets";
@import "gnome-shell-sass/_tweaks";

@import "gnome-shell-sass/smooth/plank-dash";
@import "gnome-shell-sass/smooth/panel";
// @import "gnome-shell-sass/smooth/power-panel";