$variant: 'dark';

$border-width: 1px;
$border-color: rgba(255,255,255,0.05);
%border { border: $border-width solid transparent; }
%border-colored{
  border: $border-width solid $border-color;
}

$base_color: #181818;
$bg_color: lighten($base_color, 5%);
$fg_color: white;

$panel_bg_color: darken($bg_color, 10%);
$panel_fg_color: darken($fg_color, 5%);

$selected_fg_color: #fff;
$selected_bg_color: #62a0ea;

$warning_color: #cd9309;
$error_color: #f66151;
$success_color: #26a269;

@import "gnome-shell-sass/_colors";
@import "gnome-shell-sass/_drawing";
@import "gnome-shell-sass/_common";
@import "gnome-shell-sass/_widgets";