@import './mixins/button.scss';

* {
    font-size: $font-size;
    font-family: $font-name;
}

window.popup {
    >* {
        border: none;
        box-shadow: none;
    }

    menu {
        border-radius: $popover-radius;
        background-color: $bg;
        padding: $popover-padding;
        border: $border-width solid $popover-border-color;

        separator {
            background-color: $border-color;
        }

        menuitem {
            @include button;
            padding: $spacing * .5;
            margin: ($spacing * .5) 0;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

tooltip {
    * {
        all: unset;
    }

    background-color: transparent;
    border: none;

    >*>* {
        background-color: $bg;
        border-radius: $radius;
        border: $border-width solid $popover-border-color;
        color: $fg;
        padding: 8px;
        margin: 4px;
        box-shadow: 0 0 3px 0 $shadow-color;
    }
}
